
@import "../../stylesheets/__init.styl"

[data-control=calendar]
  transition-property margin-top
  transition-duration TRANSITION_TIME
  transition-timing-function DEFAULT_TRANSITION
  position: absolute
  display: block
  margin-top: -350px
  left: 20px
  z-index: 1999 !important
  width: 280px
  font-size: 15px

  &.show
    margin-top: 50px

  & span[data-action]
    display: inline-block
    width: 20px

  & strong
    display: inline-block
    width: 80px

  & table
    background: #fff

    & thead, tbody, tr
      display: block
      width: inherit

    & thead td
      font-weight: 700
      font-size: 11px
      line-height: 24px
      border: 0px

    & td
      width: 40px
      line-height: 40px
      text-align: center
      font-weight: 600
      position: relative
      border: solid 1px #eee
      // &:hover
      //   background: green
      //   border: 0px
      &.today
        background: blue
        color: #fff !important
        border: 0px
      &.weekend
        color: red
      &.event:after
        position: absolute
        content: "·"
        position: red
        top: 12px
        left: 15px
        font-size: 28px
        color: red
      &.disabled
        color: #ddd

  & .layout
    line-height: 40px
    background: #000
    text-align: center
    font-size: 18px
    color: #fff

  & strong
    margin: 0 4px
