#main article li.contrast {
    font-size: 0.95em;
}

#main article li.feature strong {
    margin-top: 8px;
    margin-bottom: 10px;
    display: block;
}

#touchevents-console {
    background: #292f34;
    color: white;
    font-size: 3.0em;
    line-height: 2.2em;
    text-align: center;
}

 li {
    padding-top: 128px !important;
    padding-bottom: 128px !important;
}

#touchevents .list li:not(.anchor) {
    padding: 64px 8px;
}

#scroll h1 {
    line-height: 44px;
    background: black;
    color: white;
    text-indent: 10px;
}

#scroll .anchor img { width: 100%; }
#scroll .horizontal img { height: 100%; }
