/**
 * Stylesheet
 *
 * @namespace Lungo.Theme
 * @class Layout
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

.button, button
  border-radius (BORDER_radius * 2)
  &, abbr
    font-weight: 600

header
  & .button, button
    color: #fff
    background-color: darken(THEME, 15%)
    box-shadow 0 1px 0 lighten(THEME, 15%), inset 0 1px 0 darken(THEME, 35%)
    &:active
      background-color: darken(THEME, 40%)

article
  & .button, button
    color: #fff !important
    box-shadow inset 0 1px 0 rgba(255,255,255,0.15), 0 1px 1px rgba(0,0,0,0.15)
    border: solid 1px rgba(0,0,0,0.1)
    text-shadow: 0 1px 0 rgba(0,0,0,0.1)
    &:active
      box-shadow inset 0 0 128px rgba(0,0,0,0.25)
      border-color: none

    & .icon
      opacity: 0.65
      text-shadow: 0 -1px 0 rgba(0,0,0,0.25)

  & button, .button, .tag:not(.icon)
    &
      background-color: darken(THEME, 15%)
    &.color
      background-color: lighten(COLOR, 10%)
    &.accept
      background-color: SUCCESS
    &.cancel
      background-color: DANGER
    &.warning
      background-color: WARNING
    &[disabled], :disabled, &.disabled
      background: FORM_color
      color: #999 !important
      box-shadow: none !important
      text-shadow: none !important
