/**
 * Stylesheet
 *
 * @namespace Lungo.Theme
 * @class Layout
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

body > section
  & > header
    background-color: THEME

  & > nav[data-control=groupbar], & > header
    box-shadow inset 0 -1px SHADOW, 0 1px SHADOW

  & > nav[data-control=groupbar], & > footer
    background-color: ASIDE

  & > footer
    box-shadow inset 0 1px SHADOW, 0 -1px SHADOW

  & > article, & > [data-control="pull"]
    &, a
      color: TEXT
    background-color: BACKGROUND
    &.splash
      background: THEME
      color: #fff

  &.aside
    &:not(.right)
      box-shadow -1px 0 8px SHADOW
    &.right
      box-shadow 1px 0 8px SHADOW

  &[data-pull] > article.active
    box-shadow: 0 -1px 0 rgba(0,0,0,0.05)

body > aside
  background-color: darken(ASIDE, 10%)
  color: WHITE
  box-shadow 0 0 0 6px darken(ASIDE, 10%)
  & > header, & > footer
    background-color: ASIDE

body header .title
  font-weight: 400
