/**
 * Stylesheet
 *
 * @namespace Lungo.Theme
 * @class Base
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,700")

body
  background-color: #000
  color: COLOR
  font: 16px/1.25  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: bold
  letter-spacing: -0.05em

  & *
    -webkit-font-smoothing: antialiased

  & .text
    &.thin
      font-weight: 300
    &.normal
      font-weight: 400
    &.bold
      font-weight: 700

  & .theme
    background-color: THEME-light
    &:active
      background-color: THEME
