/**
 * Stylesheet
 *
 * @namespace Lungo.Theme
 * @class Layout
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

/* =================================  TAG  ================================= */
.tag:not(.icon)
  color: #fff
  border-radius BORDER_radius
  font-weight: 700
  &.count
    background-color: DANGER
    box-shadow inset 0 0.1em 0.1em rgba(255,255,255,0.3), 0 0.1em 0.2em rgba(0,0,0,0.5)
    footer a.active &, [data-control="groupbar"] a.active &
      background-color: DANGER
    footer a:not(.active) &, [data-control="groupbar"] a:not(.active) &
      background-color: lighten(COLOR, 20%)


/* =================================  PULL  =============================== */
body > section > [data-control="pull"]
  background-color: darken(BACKGROUND, 15%)
  color: darken(BACKGROUND, 50%)
  text-shadow: 0 0.1em 1em BACKGROUND
  & > strong
    font-weight: 700
  &.rotate
    color: darken(BACKGROUND, 75%)


/* ===============================  EMPTY  =============================== */
body > section > article > .empty
  & > .icon, > strong, > small
    text-shadow: 0 1px 0 lighten(BACKGROUND, 95%)
  & > .icon, > small
    color: darken(BACKGROUND, 20%)
  & > strong
    color: darken(BACKGROUND, 40%)
