/**
 * Stylesheet
 *
 * @namespace Lungo.Theme
 * @class Layout
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

/* -------------------------- NOTIFICATION -------------------------- */
.notification
  color: #fff
  &:not(.push)
    background-color: rgba(0,0,0,0.6)
  & .window
    &:not(.push):not(.growl)
      border-radius FORM_border_radius FORM_border_radius 0 0
    &.growl
      border-radius BORDER_radius
      background-color: COLOR
      & strong
        color: darken(#fff, 25%)
        font-weight: 700

    &:not(.growl)
      box-shadow 0 0 1em lighten(COLOR, 10%)

    &.confirm, &.html
      & button, .button
        background-color: #fff
        color: THEME
        font-weight: 400
    &.html
      background-color: lighten(COLOR, 95%)
      color: lighten(COLOR, 25%)

    &.confirm
      background-color: THEME
      & > small
        color: lighten(THEME, 75%)

    &.error, &.success
      background-color: COLOR
      border-bottom solid 0.4em
      color: #fff
      & small
        color: darken(#fff, 25%)

    &.error
      border-color: DANGER
    &.success
      border-color: SUCCESS

    &.html
      & .title
        background-color: THEME
        color: #fff
        border-radius BORDER_radius BORDER_radius 0 0

    &.push
      background-color: COLOR
      box-shadow: inset 0 -0.1em #000

    & button, & .button
      &:last-child
        border-radius00 FORM_border_radius FORM_border_radius
