@import "CSSmethods/vendor.styl"

/* CONSTANTS */
HEADER_HEIGHT           = 46px
HEADER_GROUPBAR_HEIGHT  = 36px

ASIDE_WIDTH             = 256px
ASIDE_PADDING           = 6px
ASIDE_WIDTH_SMALL       = 64px
ASIDE_SMALL_ICON        = 48px

DEFAULT_TRANSITION      = cubic-bezier(0.645, 0.045, 0.355, 1.000)
TRANSITION_TIME         = 500ms


FONT_SIZE_TINY          = 11px
FONT_SIZE_SMALL         = 0.9em
FONT_SIZE_NORMAL        = 1.0em
FONT_SIZE_BIG           = 1.2em
FONT_SIZE_LARGE         = 1.4em

LIST_IMAGE              = 44px
LIST_BIG_IMAGE          = 65px
LIST_SMALL_IMAGE        = 24px

INDENT                  = 0.8em

FORM_HEIGHT             = 30px
FORM_border             = 2px
FORM_border_height      = FORM_HEIGHT + (FORM_border * 4)
FORM_PROGRESS_HEIGHT    = 5px
FORM_RADIO_BUTTON       = 26px

BUTTON_HEIGHT           = 34px
