@import "CSSmethods/vendor.styl"

/* CONSTANTS */
HEADER_HEIGHT          = 44px

ASIDE_WIDTH            = 264px
ASIDE_WIDTH_SMALL      = 64px
ASIDE_SMALL_ICON       = 48px

DEFAULT_TRANSITION     = easeOutSine
TRANSITION_TIME        = 400ms

FONT_SIZE_TINY         = 11px
FONT_SIZE_SMALL        = 0.9em
FONT_SIZE_BIG          = 1.2em

LIST_PADDING           = 14px
LIST_PADDING_HORIZONTAL= (LIST_PADDING / 1.25)

INDENT                 = 3%

FORM_HEIGHT = 30px
FORM_PROGRESS_HEIGHT = (FORM_HEIGHT / 2)
