body > section > article > .empty
  display: block
  width: 80%
  margin: 0 auto
  padding-top: 15%
  text-align: center
  & > *
    display: block
  & > .icon
    font-size: S = 7.5em
    line-height: 1em
  & > strong
    font-size: FONT_SIZE_BIG
    line-height: FONT_SIZE_BIG
  & > small
    font-size: FONT_SIZE_SMALL
  & > button
    margin: 0.5em 0
