/**
 * Stylesheet
 *
 * @namespace Lungo.Layout
 * @class Widgets
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

@import "constants.styl"

[data-article].hide
  display: none


.overthrow-enabled .overthrow
  overflow: auto
  -webkit-overflow-scrolling: touch

.scroll
  overflow-x: hidden
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  -webkit-box-flex: 1

  // & > *
  //   background: -webkit-linear-gradient(white 30%, hsla(0,0%,100%,0)), -webkit-linear-gradient(hsla(0,0%,100%,0), white 70%) bottom, -webkit-radial-gradient(50% 0, rgba(0,0,0,.2), transparent 70%), -webkit-radial-gradient(50% 100%, rgba(0,0,0,.2), transparent 70%) bottom;
  //   background-repeat: no-repeat;
  //   background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  //   background-attachment: local, local, scroll, scroll;


  &.horizontal
    overflow-x: scroll
    overflow-y: hidden
    white-space: nowrap
  /* BUG (iOS) POSITION: relative childrens */
  & > *
    -webkit-transform: translate3d(0, 0, 0)

:not(.icon)
  &.left
    float: left
  &.right
    float: right

.hidden
  display: none
.block
  display: block

.indented > *
  padding: INDENT

/*
.wrapper
  padding: 8px 8px

.icon.small
  font-size: 1.3em


.framed
  border: 2px solid #fff

.round
  border-radius( 4px )
*/



/* ================================  TAG  ================================ */
.tag
  display: inline-block
  padding: 0 3px
  font-size: FONT_SIZE_TINY !important
  line-height: 1.25em
  height: 1.35em
  text-align: center

size = 5px
.margin
  &.bottom
    margin-bottom: size


/* ================================  .LAYOUT  ================================ */
.layout
  display-box()
  height:  inherit !important
  &:not(.horizontal)
    box-orient(vertical)
  &:.horizontal
    box-orient(horizontal)
  & > *
    box-flex(1)
  & > [data-layout='secondary']
    box-flex(2)
  & > [data-layout='primary']
    box-flex(3)


/* ================================  MENU  ================================ */
[data-view-menu]
  &:after
    content: "▼"
    position: relative
    top: -5px
    left: 1px
    font-size: FONT_SIZE_TINY

/* ================================  CAROUSEL  ================================ */
[data-control=carousel]
  overflow: hidden
  list-style: none
  margin: 0
  // article
  //   display: block !important
