.text
  &.italic
    font-style: italic
  &.underline
    text-decoration: underline
  &.line-through
    text-decoration: line-through
  &.align_left
    text-align: left
  &.align_right
    text-align: right
  &.align_center
    text-align: center
  &.align_justify
    text-align: justify
  &.tiny
    font-size: 0.8em
  &.small
    font-size: FONT_SIZE_SMALL
  &.big
    font-size: FONT_SIZE_BIG
  &.large
    font-size: FONT_SIZE_LARGE
  &.opacity
    opacity: 0.5

h1
  font-size: 1.6em
h2
  font-size: 1.5em
h3
  font-size: 1.4em
h4
  font-size: 1.3em
