/**
 * Stylesheet
 *
 * @namespace Lungo
 * @class Layout
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

@import "constants.styl"

body, html
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  overflow: hidden

body
  // &[data-position="absolute"] > section
  //   position: absolute

  // &[data-position="fixed"] > section
  //   position: fixed


aside, section
  display-box()
  box-orient(vertical)
  height: inherit
  & > header, > footer
    box-flex(0)
    z-index: 3
  & > article
    box-flex(1)
    z-index: 0

section
  z-index: 2
  &:not(.show)
    z-index: 1
    display: none
