/**
 * Stylesheet
 *
 * @namespace Lungo.Widgets
 * @class Form
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

form, .form
  & label:not(.select)
    display: inline-block
    font-size: FONT_SIZE_SMALL
    line-height: inherit
    margin: 0.15em 0

  & input:not([type="checkbox"]), textarea, select, .progress, label.select, [data-control-progress]
    font-size: FONT_SIZE_NORMAL
    &.large
      font-size: FONT_SIZE_BIG

  & input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], select, textarea, label.select
    display: inline-block
    width: 100%
    margin: 0.5em 0
    padding: 0 0.5em
    transition all 100ms linear
    font-family: inherit
    -webkit-appearance: none
    -webkit-user-select: text
    border: 0
    &:focus
      outline: none !important
    &.border
      &, & > select
        padding: 0.3em 0.4em

  & textarea
    min-height: 2.5em
    line-height: FONT_SIZE_BIG

  & fieldset
    position: relative
    padding: 0 0.5em

    & > label:not(.select)
      float: left
      width: 20%
      margin: 0.5em 0
      line-height: 1.75em
      &.absolute
        position: absolute
      &.anchor
        width: auto
        overflow: hidden

    & > label:not(.absolute) + input:not([type="checkbox"]), & > label:not(.absolute) + label.select
      width: 80%

    & > label:not(.absolute) + input[type="checkbox"]
      margin-top: 0.5em

    & .icon
      position: absolute
      font-size: FONT_SIZE_BIG
      top: 0.5em
      right: 0.6em

    & input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea
      box-shadow none
      border: none
      border-radius: 0
      padding: 0 0.3em
      line-height: 1.5em
      &, &:focus
        background: none


    & input[type="checkbox"]
      float: right

    & label.select
      line-height: 1.5em


  .indented & fieldset
    & > label:not(.select):not(.anchor)
      width: 25%
    & > label:not(.absolute) + input:not([type="checkbox"]), & > label:not(.absolute) + label.select
      width: 75%

  & label.select
    position: relative
    display: inline-block
    font-size: inherit
    line-height: inherit
    padding: 0 !important
    & > select
      border-radius: 0 !important
      margin: 0
      padding: 0 0.4em
    &:after
      position: absolute
      top: 0.15em
      right: 0.3em
      content: "▼"
      pointer-events: none
      text-align: center

  /* -------------------------- RANGE -------------------------- */
  & input[type="range"]
    -webkit-appearance: none
    outline: none
    height: FORM_PROGRESS_HEIGHT
    width: 100%
    padding: 0
    border: none
    margin: 1em 0
    background: red
    &::-webkit-slider-thumb
      position: relative
      width: FORM_RADIO_BUTTON
      height: FORM_RADIO_BUTTON
      -webkit-appearance: none
      border: none

  /* -------------------------- PROGRESS -------------------------- */
  & [data-progress]
    width: 100%
    margin-bottom: 0.5em
    & .bar
      height: FORM_PROGRESS_HEIGHT
      line-height: FORM_PROGRESS_HEIGHT
      display: block

      & .value
        display: block
        height: inherit
        width: 0%
        transition(width TRANSITION_TIME DEFAULT_TRANSITION)

  /* -------------------------- CHECKBOX -------------------------- */
  input[type="checkbox"]
    appearance: none
    -webkit-appearance: none
    -webkit-user-select: text
    border-radius: FORM_RADIO_BUTTON
    cursor: pointer
    height: (FORM_RADIO_BUTTON + 2)
    position: relative
    transition: border .25s .15s,
                box-shadow .25s .3s,
                padding .25s
    width: 44px
    vertical-align: top

    &:after
      BUTTON = (FORM_RADIO_BUTTON - 2)
      border-radius: BUTTON
      box-shadow: inset 0 -3px 3px hsla(0,0%,0%,.025),
                  0 1px 4px hsla(0,0%,0%,.15),
                  0 4px 4px hsla(0,0%,0%,.1)
      content: ''
      display: block
      height: BUTTON
      left: 0
      position: absolute
      right: 16px
      top: 0
      transition: border .25s .15s,
                  left .25s .1s,
                  right .15s .175s

    &:checked
      padding-left: 18px
      transition: border .25s,
                  box-shadow .25s,
                  padding .25s .15s

      &:after
        left: 16px
        right: 0
        transition: border .25s,
                    left .15s .25s,
                    right .25s .175s



