/**
 * Stylesheet
 *
 * @namespace Lungo.Widgets
 * @class Notification
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

LOADING = 104px
WINDOW_WIDTH = 280px

.notification
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 1980
  display: none

  &.show
    display-box()
    box-align(center)
    box-pack(center)

  &.push
    height: (HEADER_HEIGHT / 1.75)

  & .window
    position: relative
    opacity: 0
    text-align: center
    transition-duration (TRANSITION_TIME / 2)
    transition-timing-function DEFAULT_TRANSITION
    backface-visibility hidden

    &.show
      opacity: 1

    &:not(.push)
      transition-property opacity, margin-top
      margin-top: 100%
      &.show
        margin-top: 0%

    &.growl
      & > *
        position: absolute
      &, & > *:not(.loading)
        width: LOADING
        text-align: center
      &, & > .icon
        height: LOADING !important

      & > .icon
        left:0
        top:0
        font-size: 52px
        line-height: LOADING

      & > strong
        height: 18px
        top: (LOADING - 20px)
        padding: 0 0.5em
        overflow: hidden
        font-size: FONT_SIZE_TINY
      & > small
        display: none

      & > .loading
        top: 28px

    &.success, &.error, &.confirm, &.html
      width: WINDOW_WIDTH
      margin-top: 100%

    &.success, &.error, &.confirm
      padding-top: 1em
      & > .icon
        font-size: 5em
        line-height: 1.0em
      & > small
        font-size: FONT_SIZE_SMALL
        padding-bottom: 1em
      & > .icon, > strong
        padding-bottom: 0.25em
      & > strong, > small
        padding-left: 0.5em
        padding-right: 0.5em

    &.html .title
      height: HEADER_HEIGHT
      line-height: HEADER_HEIGHT
      font-size: FONT_SIZE_BIG

    &.push
      HEIGHT = (HEADER_HEIGHT / 1.5)
      position: absolute !important
      text-align: left
      height: HEIGHT
      line-height: HEIGHT
      padding: 0 1em
      width: 100%
      transition-property opacity, top
      top: -(HEIGHT) !important

      &.show
        top: 0 !important
      & .icon
        float: left
        display: inline
        margin-right: 0.5em
        font-size: FONT_SIZE_LARGE

    & button
      display: block
      margin-bottom: 1px
      width: inherit
      line-height: 2.5em
      border: none
      font-size: FONT_SIZE_BIG

    & strong, small
      display: block
