/**
 * Stylesheet
 *
 * @namespace Lungo.Theme
 * @class Default
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

@import "constants.less";
// @import "lungo.theme.default.font.less";


@theme: #2A95D3;
@theme-light:  #39ABE1;
@theme-dark: #1984C2;
// @theme: #2C8BCA;
// @theme-light:  #2C8BCA;
// @theme-dark: #154F93;
@footer: #292F34;
    @footer-dark: #23282C;
@color: #484a49;

.app {
    background: #000;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.theme, li.theme, a.theme {
    background: @theme;
    &:active { background: @theme-dark;}
}

/* @group <header> & <footer> & <article> */
section > header {
    background-color: @theme-dark;
    .box-shadow(~"inset 0 1px 0 rgba(255,255,255,0.3), inset 0 -2px 0 rgba(255,255,255,0.1), inset 0 -1px 0 rgba(0,0,0,0.5)");

    & .title {
        color: #fff;
        text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    }

    & .subtitle {
        color: #fff;
        opacity: 0.7;
    }
}

section > footer {
    background-color: @footer-dark;
    .box-shadow(~"inset 0 1px 0 rgba(0,0,0,0.8), inset 0 2px 0 rgba(255,255,255,0.05)");
}

section > nav.groupbar {
    background-color: @footer;
}

section > article { background: #f4f5f5; }
/* @end */

/* @group <nav> */
header nav {
    & a { color: #fff; }

    &.box {
        &:not(.right) a { .box-shadow(~"1px 0 0 rgba(255,255,255,0.2), inset -1px 0 0 rgba(0,0,0,0.2)"); }
        &.right a { .box-shadow(~"-1px 0 0 rgba(255,255,255,0.2), inset 1px 0 0 rgba(0,0,0,0.2)"); }
        & a:active { background: rgba(0,0,0,0.1); }
    }

    &.button a {
        // border-radius: @section-radius;
        .linear-gradient(top, ~','rgba(0,0,0,0.0), ~','rgba(0,0,0,0.1));
        box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 0 3px rgba(0,0,0,0.3), inset 0 1px 1px rgba(0, 0, 0, .5);
        &:active { background: rgba(0,0,0,0.2); }
    }
}

footer nav a.current {
    background: #000;
    .box-shadow(~"-1px 0 0 rgba(255,255,255,0.05), 1px 1px 0 rgba(255,255,255,0.05)");
}

footer nav a, nav.groupbar a{
    color: rgba(0,0,0,0.7);
    &.current {
        color:  #fff;}
}

nav.groupbar a.current { .box-shadow(inset 0 -3px 0 @theme); }

/* @end */

/* @group <aside> */
aside {
    color: #fff;
    background: @footer;

    & header, footer {
        .box-shadow(~"inset 0 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(255,255,255,0.1)");
        background: @footer-dark; }

    & article { background: none; }

    & nav {
        & .icon {color:white;}
    }
}

section.aside {
    .box-shadow(~"-4px 0 8px rgba(0,0,0,0.5)");
    &.right { .box-shadow(~"4px 0 8px rgba(0,0,0,0.5)"); }
}
/*
@media handheld, only screen and (min-width: 768px) {
    section.current, section.show {
        .box-shadow(~"-4px 0 8px rgba(0,0,0,0.5)");
        &.right { .box-shadow(~"4px 0 8px rgba(0,0,0,0.5)"); }
    }
}
*/
/* @end */

/* @group .list */
@list-border: #ddd;
@list-color: #2a2a2a;

.list {
    & li {
        background: #fff;
        border-bottom: 1px inset @list-border;

        &:last-child { border-bottom: none; }

        &, & a { color: @list-color; }

        &.contrast {
            background: @footer;
            color: #fff;
        }

        &.highlight { background: @list-border; }
        &.anchor {
            background: @footer;
            border-bottom: none;
            &, & a { color: #fff !important; }
        }
        &.selectable:active {
            background: @theme-light;

            &, & a {
                color: #fff;
                text-shadow: none;
            }
        }

        & small, & .right:not(.bubble) { opacity: 0.8; }
    }
}

aside .list {
    & li {
            background: none;
            border-top: 1px solid rgba(255,255,255,0.05);
            border-bottom: 1px solid ;

            &.current {
                border-top-color: @theme;
                .linear-gradient(top, ~','@theme-light 25%, ~','@theme-dark 100%);}
            & strong, & small, & .icon { color: #fff; }
            & strong { text-shadow: 0 1px 1px rgba(0,0,0,0.5); }
        }
    }

/* @end */

/* @group widgets */
.splash {
    background: @footer;
    color: #fff;
    text-shadow: 0 1px 0px rgba(0,0,0,0.2);
}

&.indented {
    & ul {
        border: 1px solid @list-border;
        box-shadow: 0 0 4px rgba(0,0,0,0.1);
    }

    & li {
        &:first-child { .border-radius(2px 2px 0 0); }
        &:last-child {
            .border-radius(0 0 2px 2px);
            .box-shadow(0 1px 1px rgba(0,0,0,0.05));
        }
    }
}


/* @group .button */
a.button {
    .border-radius(2px);
    .box-shadow(~"inset 1px 0 0 rgba(0,0,0,0.3), inset 0 1px 0 rgba(0,0,0,0.3), inset -1px 0 0 rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.3), inset 0 2px 0 rgba(255,255,255, 0.2)");
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);

    &:active { .box-shadow(~"inset 0 10px 30px rgba(0,0,0,0.2), inset 0 -2px 4px rgba(0,0,0,0.3)"); }
}

/* @end */

/* @group <form> */
@box-shadow-form: ~'inset 0 1px 2px rgba(0,0,0,0.1)';
@box-shadow-form-active: ~'inset 0 1px 1px rgba(0,0,0,0.1), 3px 0 #f0eeef, 0 3px #f0eeef, -3px 0 #f0eeef, 0 -3px #f0eeef';
@form-border-radius: 1px;
label { color: #999; }

input[type=text],  textarea, select {
    border: 1px solid #ccc;
    .border-radius(@form-border-radius);
    .box-shadow(@box-shadow-form);
    color: #858585;
    font-family: Helvetica, Arial, sans-serif;

    &:focus {
        color: #484a49;
        border-color: @theme;
        .box-shadow(0 0 1px @theme-light);
    }

    &[disabled] {
        background: #f00;
    }
}

.select:after {
    background: #ccc;
    color: white;
    border-top-right-radius: @form-border-radius;
    border-bottom-right-radius: @form-border-radius;
}



/* @group range */
input[type=range] {
    .box-shadow(@box-shadow-form);
    .border-radius(@form-border-radius);


    &:not(.checkbox) {
        background-color: #c7c7c7;
        &:active { background-color: @theme-light;  }
    }

    &.checkbox {
        background-color: #aaaaaa;
        color: rgba(255,255,255,0.6);
        &.active { background-color: @theme-light; }
    }

    &::-webkit-slider-thumb {
        border-radius: @form-border-radius;
        box-shadow:0px 1px 2px 1px rgba(0,0,0,0.3);
        background: #fff; }

    &::-webkit-slider-thumb::after {
        background: rgb(234,234,234); }
}
/* @end */

/* @group .progress */
.progress {
    .labels {
        font-size: 12px;
        font-weight: bold;
        line-height: 18px;
        color: #858585;
    }

    & .bar {
        .box-shadow(@box-shadow-form);
        background: #c7c7c7;
        .border-radius(@form-border-radius);

        & .value {
            background-color: @theme-light;
            .border-radius(@form-border-radius);

            & .label {
                float: right;
                margin-right: 3px;
                font-weight: bold;
                color: rgba(0,0,0,0.6);
                text-shadow: 0 1px 0 rgba(255,255,255,0.2) !important;
                font-size: 12px;
            }
        }
    }
}
/* @end */


/* @group .bubble */
.bubble {
    color: #fff;
    .border-radius(2px);

    &.count { .linear-gradient(top, ~','@theme-light 0%, ~','@theme-dark 100%);  }
}
    footer .bubble {
        .box-shadow(~'inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.5)');  }


    article .list .bubble {
        .box-shadow(~'inset 1px 0 0 rgba(0,0,0,0.3), inset 0 1px 0 rgba(0,0,0,0.3), inset -1px 0 0 rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.3)');
    }
    aside .list .bubble { background: rgba(0,0,0,0.25); }
/* @end */

/* @group .bubble */
.notification {
    color: #fff;
    & .window {
        &.confirm { background: #333; }

        &.notify {
            text-shadow: 0 1px 0px rgba(0,0,0,0.1);
            .box-shadow(~'inset 0 1px 0 rgba(255,255,255,0.2), inset 0 -1px 0 rgba(0,0,0,0.2), 0px 1px 2px rgba(0,0,0,0.25)');

            &.error { background: @red; }
            &.alert { background: @yellow; }
            &.success { background: @green; }
        }

        &.url {
            & .close {
                background: #000;
                border: solid 2px #fff;
                box-shadow: 0 0 4px black;
            }
        }
    }
}
