/**
 * Stylesheet
 *
 * @namespace Lungo.Widgets
 * @class Form
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

@import "__init.styl"

form, .form

  & label:not(.select)
    display: inline-block
    line-height: FORM_HEIGHT
    text-indent: 8px

  & input:not([type="checkbox"]), textarea, select, .progress, label.select
    margin-bottom: 8px
    font-size: FONT_SIZE_BIG
    &.large
      font-size: FONT_SIZE_LARGE

  & input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], select, textarea, label.select
    display: block
    width: 100%
    padding: 0px 6px
    height: FORM_HEIGHT
    transition all 0.15s linear
    font-family: inherit
    -webkit-appearance: none
    -webkit-user-select: text
    -webkit-font-smoothing: antialiased
    border: none
    &:focus
      outline: none !important
    &.border
      height: FORM_border_height

  & textarea
    min-height: (FORM_HEIGHT * 2)

  & fieldset
    padding: 8px 8px 0 8px
    position: relative
    & label:not(.select)
      float: left
      width: 20%
      text-indent: 0px
      &.absolute
        position: absolute

    & label:not(.absolute) + input, label:not(.absolute) + label.select
      width: 80% !important

    & .icon
      position: absolute
      font-size: FONT_SIZE_BIG
      line-height: FORM_HEIGHT
      right: INDENT
    & input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea
      box-shadow none
      border: none
      padding: 0px
      &, &:focus
        background: none

  .indented & fieldset
    & label:not(.select)
      width: 25% !important
    & label:not(.absolute) + input, label:not(.absolute) + label.select
      width: 75% !important

  & label.select
    position: relative
    display: inline-block
    font-size: inherit
    line-height: inherit
    padding-left: 0px

    &.border
      H = FORM_border_height - (FORM_border * 2)
      & > select
        height: H
      &:after
        height: H
        width: H
        line-height: H

    &:after
      position: absolute
      top: 0
      right: 0
      height: FORM_HEIGHT
      width: FORM_HEIGHT
      font-size: FONT_SIZE_BIG
      content: "▼"
      pointer-events: none
      text-align: center
      line-height: FORM_HEIGHT

  & input[type=range]
    -webkit-appearance: none
    outline: none

    height: FORM_PROGRESS_HEIGHT
    width: 100%
    padding: 0px
    border: none

    &::-webkit-slider-thumb
      position: relative
      width: SIZE = (FORM_PROGRESS_HEIGHT * 2)
      height: SIZE
      -webkit-appearance: none
      border: none
  /* -------------------------- PROGRESS -------------------------- */
  & [data-progress]
    width: 100%
    & .bar
      height: FORM_PROGRESS_HEIGHT
      line-height: FORM_PROGRESS_HEIGHT
      display: block

      & .value
        display: block
        height: inherit
        width: 0%
        transition(width TRANSITION_TIME DEFAULT_TRANSITION)

@media screen and (-webkit-min-device-pixel-ratio:0)
  .custom-select
    select
      padding-right:30px


/* -------------------------- CHECKBOX -------------------------- */
[data-control-checkbox]
  HEIGHT = (FORM_HEIGHT * 1.1)
  width: 76px
  height: HEIGHT
  margin: 20px auto
  position: relative
  line-height: HEIGHT !important
  &, & label
    transition all 200ms ease

  input[type=checkbox]
    visibility: hidden

  &:after, &:before
    z-index: 0
    position: absolute
  &:before
    content: "ON"
    left: (HEIGHT / 2.2)
    opacity: 0
  &:after
    content: "OFF"
    right: (HEIGHT / 2.2)
  &.checked
    &:before
      opacity: 1
      z-index: 1
    &:after
      opacity: 0
      z-index: 0

  & label
    display: block
    height: S = (HEIGHT - 6)
    width: S
    cursor: pointer
    position: absolute
    top: 3px
    left: 3px
    z-index: 1

  & input[type=checkbox]:checked + label
    left: 46px
