/* ==== Tablet ==== */
@media only screen and (min-width: 768px)
  body
    display-box()
    box-orient(horizontal)
    overflow: hidden

    & > aside
      transform translateX(-100%)
      transition-property transform
      transition-duration TRANSITION_TIME
      margin-right: -(ASIDE_WIDTH)
      &.show
        transform translateX(0px)
        margin-right: 0px
      &.hide
        transform translateX(-100%)
        margin-right: -(ASIDE_WIDTH) !important

    & > section
      display: none
      opacity: 0
      ordinal-group(2)
      transform translateX(100%)
      &.show
        animation showing TRANSITION_TIME
        animation-fill-mode forwards
        display-box()
      &.hide
        animation hiding TRANSITION_TIME

      &:not([data-children])
        box-flex(1)

      &[data-children]
        width: 320px

      & [data-view-aside]
        display: none !important

@-webkit-keyframes showing
  0%
    opacity: 0
    transform translateX(100%)
  100%
    opacity: 1
    transform translateX(0%)

@-webkit-keyframes hiding
  0%
    opacity: 1
    transform translateX(0%)
  100%
    opacity: 0
    transform translateX(100%)
