/**
 * Stylesheet
 *
 * @namespace Lungo.Widgets
 * @class text
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

@import "constants.styl"

.text
  &.thin
    font-weight: 300
  &.normal
    font-weight: 400
  &.bold
    font-weight: 600
  &.extra-bold
    font-weight: 700
  &.italic
    font-style: italic
  &.underline
    text-decoration: underline
  &.line-through
    text-decoration: line-through
  &.align_left
    text-align: left
  &.align_right
    text-align: right
  &.align_center
    text-align: center
  &.align_justify
    text-align: justify

  &.tiny
    font-size: 0.8em
  &.small
    font-size: FONT_SIZE_SMALL
  &.big
    font-size: FONT_SIZE_BIG
  &.opacity
    opacity: 0.5
