/**
 * Stylesheet
 *
 * @namespace Lungo
 * @class Layout
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

body, html
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  overflow: hidden

body
  /* ========================================================================= */
  /* ============================= ASIDE/SECTION ============================= */
  /* ========================================================================= */
  & > aside, & > section
    display-box()
    box-orient(vertical)
    height: inherit
    webkit-transform: translate3d(0,0,0)

    & > header, > footer
      box-flex(0)
      z-index: 3
      position: relative
    & > header
      ordinal-group(1)

      // position: fixed
      // width: 100%

    & > article
      box-flex(1)
      ordinal-group(2)
      z-index: -1
      // padding-top: HEADER_HEIGHT

    & > footer
      ordinal-group(3)

    /* ============================= HEADER/FOOTER ============================= */
    & > header, > footer
      height: HEADER_HEIGHT
      line-height: HEADER_HEIGHT

      & > nav
        box-flex(0)

      & > .title
        z-index: -1
        float: left
        font-size: FONT_SIZE_BIG
        box-flex(1)
        &.centered
          position: absolute
          left: (INDENT * 2)
          right: (INDENT * 2)
          text-align: center
          display: inline-block

        & > .tag
          position: relative
          top: -0.1em
          left: 0.25em

      & > img.title
        PAD = 18px
        height: (HEADER_HEIGHT - PAD)
        margin: (PAD / 2) auto

    /* ================================ ARTICLE ================================ */
    & > article
      visibility: hidden
      display: none
    &.show > article.active, &.hide > article.active, &.hiding > article.active
      visibility: visible
      display: block
      z-index: 1
      height: inherit
      &.pull
        transition-property transform
        transition-duration TRANSITION_TIME
    & [data-article].hide
      display: none

  /* ========================================================================= */
  /* ================================ SECTION ================================ */
  /* ========================================================================= */
  & > section
    width: inherit
    z-index: -1
    &.show
      z-index: 1

  /* ========================================================================= */
  /* ================================= ASIDE ================================= */
  /* ========================================================================= */
  & > aside
    width: ASIDE_WIDTH
    display: none
    z-index: -1
    & > header
      & .title
        margin: 0 INDENT

    &.active, &.show
      display-box()
    &.show
      z-index: 0
    &.right
      right:0

  /* ========================================================================= */
  /* =============================== EXCLUDE OS ============================== */
  /* ========================================================================= */
  &[data-os=ios]
    & [data-os=android], [data-os=blackerry], [data-os=firefoxos]
      display: none
  &[data-os=android]
    & [data-os=ios], [data-os=blackerry], [data-os=firefoxos]
      display: none
  &[data-os=blackberry]
    & [data-os=android], [data-os=ios], [data-os=firefoxos]
      display: none
  &[data-os=firefoxos]
    & [data-os=android], [data-os=ios], [data-os=blackberry]
      display: none
