/**
 * Stylesheet
 *
 * @namespace Lungo.Animation
 * @class Aside

 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

section
  &[data-aside-left="show"]
    vendor(animation-name, sectionAsideLeftShow)
  &[data-aside-left="hide"]
    vendor(animation-name, sectionAsideLeftHide)
  &[data-aside-right="show"]
    vendor(animation-name, sectionAsideRightShow)
  &[data-aside-right="hide"]
    vendor(animation-name, sectionAsideRightHide)

aside
  &[data-transition=right]
    right: 0px

  &[data-aside-left="hide"]
    vendor(animation-name, asideLeftHide)
  &[data-aside-left="show"]
    vendor(animation-name, asideLeftHide)


@keyframes sectionAsideLeftShow
  from { transform translateX(0) }
  60%  { transform translateX(ASIDE_WIDTH + ASIDE_PADDING) }
  to   { transform translateX(ASIDE_WIDTH) }

@keyframes sectionAsideLeftHide
  from { transform translateX(ASIDE_WIDTH) }
  25%  { transform translateX(ASIDE_WIDTH + ASIDE_PADDING) }
  to   { transform translateX(0) }

@keyframes sectionAsideRightShow
  from { transform translateX(0) }
  60%  { transform translateX(-(ASIDE_WIDTH) - ASIDE_PADDING) }
  to   { transform translateX(-(ASIDE_WIDTH)) }

@keyframes sectionAsideRightHide
  from { transform translateX(-(ASIDE_WIDTH)) }
  25%  { transform translateX(-(ASIDE_WIDTH) - ASIDE_PADDING) }
  to   { transform translateX(0) }

@keyframes asideLeftHide
  from { transform translateX(0) }
  to   { transform translateX(-(ASIDE_WIDTH)) }
