/**
 * Stylesheet
 *
 * @namespace Lungo.Layout
 * @class Article
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

@import "mixins.less";
@import "constants.less";

article {
    //position: absolute;
    position: fixed;
    // width: 100% !important;
    width: inherit;
    height: auto;
    top: 0;
    bottom: 0;

    display: none;
    visibility: hidden;
    z-index: 0;

    &.current, &:first-child {
        visibility: visible;
        display: block;
        z-index: 1;
    }

    & .text {
        margin: 4px 0 8px;
        display: block;
        font-size: 0.9em;
        font-weight: normal;
        line-height: 1.4em;
    }

    & > .loading {
        //margin-top: 10%;
    }
}

header:not(.extended) ~ article { top: @header-height; }
    header.extended ~ article { top: @article_with_header_extended; }
footer:not(.with-labels) ~ article { bottom: @article-bottom; }
    footer.with-labels ~ article { bottom: @article-bottom-with-labels; }

@media handheld, only screen and (min-width: 768px) {
    article.aside { .transform(translate3d(0px, 0, 0)); }
}
