/**
 * Stylesheet
 *
 * @namespace Lungo.Layout
 * @class Widgets
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

@import "constants.styl"

[data-article].hide
  display: none


.overthrow-enabled .overthrow
  overflow: auto
  -webkit-overflow-scrolling: touch

.scroll
  overflow-x: hidden
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  -webkit-box-flex: 1

  &.horizontal
    overflow-x: scroll
    overflow-y: hidden
    white-space: nowrap
  /* BUG (iOS) POSITION: relative childrens */
  & > *
    -webkit-transform: translate3d(0, 0, 0)

:not(.icon)
  &.left
    float: left
  &.right
    float: right

.hidden
  display: none
.indented > *
  margin: 10px
.margined
  margin: 3%

.wrapper
  padding: 8px 8px

.icon.small
  font-size: 1.3em

.framed
  border: 2px solid #fff

.round
  border-radius( 4px )

.block
  display: block

/* ================================  TAG  ================================ */
.tag
  display: inline-block
  padding: 0 3px
  font-size: FONT_SIZE_TINY !important
  line-height: 1.25em
  height: 1.35em
  text-align: center

size = 5px
.margin
  &.bottom
    margin-bottom: size


/* ================================  CAROUSEL  ================================ */
[data-view-menu]
  &:after
    content: "▼"
    position: relative
    top: -5px
    left: 1px
    font-size: FONT_SIZE_TINY

/* ================================  CAROUSEL  ================================ */
[data-control=carousel]
  overflow: hidden
  list-style: none
  margin: 0
  // article
  //   display: block !important

/* ================================  TEXT  ================================ */
.text
  &.thin
    font-weight: 300
  &.normal
    font-weight: 400
  &.bold
    font-weight: 600
  &.extra-bold
    font-weight: 700
  &.italic
    font-style: italic
  &.underline
    text-decoration: underline
  &.line-through
    text-decoration: line-through
  &.align_left
    text-align: left
  &.align_right
    text-align: right
  &.align_center
    text-align: center
  &.align_justify
    text-align: justify

  &.tiny
    font-size: 0.8em
  &.small
    font-size: FONT_SIZE_SMALL
  &.big
    font-size: FONT_SIZE_BIG
  &.opacity
    opacity: 0.5
