/**
 * Stylesheet
 *
 * @namespace Lungo.Widgets
 * @class Splash
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

@import "constants.styl"

body > section > article.splash
  text-align: center
  padding: (INDENT * 2)

  & .logo
    width: 60%
    margin: 20% 0 10% 0
    font-size: 2.2em

  & .button
    margin-top: INDENT
    margin-bottom: INDENT

  & .copyright
    position: absolute
    width: 100%
    bottom: 8px
    left: 0px
    font-size: FONT_SIZE_TINY
    padding: 0px
