@import "__init.styl"

OPACITY     = 0.3
TRANSLATE_Z = -300px
ROTATE_X    = 20deg
ORIGIN      = 100% 50%

.backIn
  vendor(animation, backIn TRANSITION_TIME ease both)
.backOut
  vendor(animation, backOut TRANSITION_TIME ease both)


@keyframes backIn
  from {
    transform: rotateX(ROTATE_X) translateZ(TRANSLATE_Z)
    transform-origin: ORIGIN
  }

@keyframes backOut
  to {
    transform: rotateX(ROTATE_X) translateZ(TRANSLATE_Z)
    transform-origin: ORIGIN
  }
