@import "__init.styl"

.fadeIn
  vendor(animation-name, fadeIn)
  vendor(animation-duration, TRANSITION_TIME)
  vendor(animation-timing-function, DEFAULT_TRANSITION)
.fadeOut
  vendor(animation-name, fadeOut)
  vendor(animation-duration, TRANSITION_TIME)
  vendor(animation-timing-function, DEFAULT_TRANSITION)
.fadeInBack
  vendor(animation-name, fadeInBack)
  vendor(animation-duration, TRANSITION_TIME)
  vendor(animation-timing-function, DEFAULT_TRANSITION)
.fadeOutBack
  vendor(animation-name, fadeOutBack)
  vendor(animation-duration, TRANSITION_TIME)
  vendor(animation-timing-function, DEFAULT_TRANSITION)

@keyframes fadeIn
  from { opacity: 0 }

@keyframes fadeOut
  to { opacity: 1 }

@keyframes fadeInBack
  from { opacity: 0 }

@keyframes fadeOutBack
  to { opacity: 0 }
