/**
 * Stylesheet
 *
 * @namespace LUNGO
 * @class Widgets
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

@import "constants.less";
@import "mixins.less";

.scrollable {
    display: block;
}

.scroll {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.onleft { float: left; }
.onright { float: right;}
.hidden { display: none; }
.indented > * { padding: 10px; }


.icon.small {
    font-size: 20px !important;
    height: 16px !important;
    width: 16px !important;
    line-height: 16px !important;
}


.framed { border: 2px solid #fff;}

.round { .border-radius(4px); }

.bubble {
    padding: 1px 3px 1px 3px;
    height: 14px;
    font-size: 10px;
    font-weight: bold;
    line-height: 14px;
}