@import "constants.styl"

/* ==== Tablet ==== */
// @media only screen and (min-width: 768px) and (max-width: 1280px)
@media only screen and (min-width: 768px)

  body
    display-box()
    box-pack(justify)
    box-orient(horizontal)
    overflow: hidden

  section
    box-flex(1)
    &:not(.show)
      display: none !important

  [data-router=aside]
    display: none !important
