/**
 * Stylesheet
 *
 * @namespace Lungo.Widgets
 * @class Colour
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

@import "import/constants.styl"
@import "import/vendor.styl"

a.grey, .grey
  background-color: GREY
a.dark-grey, .dark-grey
  background-color: BLACK
a.red, .red
  background-color: RED
a.lightgreen, .lightgreen
  background-color: LIGHTGREEN
a.green, .green
  background-color: GREEN
a.blue, .blue
  background-color: BLUE
a.arcticblue, .arcticblue
  background-color: ARCTICBLUE
a.orange, .orange
  background-color: ORANGE
a.purple, .purple
  background-color: PURPLE
a.magenta, .magenta
  background-color: MAGENTA
a.pink, .pink
  background-color: PINK
a.yellow, .yellow
  background-color: YELLOW
a.twitter, .twitter:not(span)
  background-color: TWITTER
a.facebook, .facebook:not(span)
  background-color: FACEBOOK

li.grey
   box-shadow: inset 4px 0px 0px GREY
li.dark-grey
   box-shadow: inset 4px 0px 0px BLACK
li.red
   box-shadow: inset 4px 0px 0px RED
li.lightgreen
   box-shadow: inset 4px 0px 0px LIGHTGREEN
li.green
   box-shadow: inset 4px 0px 0px GREEN
li.blue
   box-shadow: inset 4px 0px 0px BLUE
li.arcticblue
   box-shadow: inset 4px 0px 0px ARCTICBLUE
li.orange
   box-shadow: inset 4px 0px 0px ORANGE
li.purple
   box-shadow: inset 4px 0px 0px PURPLE
li.magenta
   box-shadow: inset 4px 0px 0px MAGENTA
li.pink
   box-shadow: inset 4px 0px 0px PINK
li.yellow
   box-shadow: inset 4px 0px 0px YELLOW
li.twitter
   box-shadow: inset 4px 0px 0px TWITTER
li.facebook
   box-shadow: inset 4px 0px 0px FACEBOOK
