@import "__init.styl"

TRANSLATE_Z = -300px
ROTATE_X    = 20deg
ORIGIN      = 100% 50%

.backIn
  vendor(animation-name, backIn)
  vendor(animation-duration, TRANSITION_TIME)
  vendor(animation-timing-function, DEFAULT_TRANSITION)
.backOut
  vendor(animation-name, backOut)
  vendor(animation-duration, TRANSITION_TIME)
  vendor(animation-timing-function, DEFAULT_TRANSITION)
  z-index: -1

@keyframes backIn
  from {
    transform: translateZ(TRANSLATE_Z)
    // transform-origin: ORIGIN
  }

@keyframes backOut
  to {
    transform: translateZ(TRANSLATE_Z)
    // transform-origin: ORIGIN
  }
