/**
 * Stylesheet
 *
 * @namespace Lungo.Layout
 * @class List
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

@import "constants.less";
@import "mixins.less";

.list {
    & li {
        position: relative;
        list-style-type: none;
        padding: 8px;

        &.arrow::after{
            position: absolute;
            right: 8px;
            top: 40%;
            width: 6px;
            height: 6px;
            content: '';
            border-right: 3px solid #D0D0D8;
            border-top: 3px solid #D0D0D8;
            .transform(rotate(45deg));
        }

        & a { display: block; }

        & .icon:not(.small), & img {
            float: left;
            width: 32px;
            height: 32px;
            margin-right: 8px;
            font-size: 2.6em;
            line-height: 1.0em;
            text-align: center;
        }

        &.thumb img {
           margin: -8px 8px -8px -8px;
           height: 46px !important;
           width:46px !important;
        }

        &.anchor {
            font-size: 0.85em;
            font-weight: bold;
            padding: 2px 10px;

            & .icon.small {
                margin-right: 2px;
            }

            & .bubble { display: none; }
        }
    }

    & .bubble {
        padding-left: 5px;
        padding-right: 5px;
    }

    & .right {
        font-size: 0.75em;
        font-weight: bold;
    }

    & .right .icon, & small .icon {
        height: 13px !important;
        width: 13px !important;
        margin-right: 1px !important;
        font-size: 1.2em !important;
        line-height: 0.8em;
    }

}
