@import "__init.styl"

TRANSLATE_Y = -18%
TRANSLATE_Z = -150px
ROTATE_X    = 20deg

.coverIn
  vendor(animation-name, coverIn)
  vendor(animation-duration, TRANSITION_TIME)
  vendor(animation-timing-function, DEFAULT_TRANSITION)
.coverOut
  vendor(animation-name, coverOut)
  vendor(animation-duration, TRANSITION_TIME)
  vendor(animation-timing-function, DEFAULT_TRANSITION)
  z-index: -1
.coverInBack
  vendor(animation-name, coverInBack)
  vendor(animation-duration, TRANSITION_TIME)
  vendor(animation-timing-function, DEFAULT_TRANSITION)
  z-index: -1
.coverOutBack
  vendor(animation-name, coverOutBack)
  vendor(animation-duration, TRANSITION_TIME)
  vendor(animation-timing-function, DEFAULT_TRANSITION)

@keyframes coverIn
  from { transform: translateY(110%) }

@keyframes coverOut
  to { transform: rotateX(ROTATE_X) translateZ(TRANSLATE_Z) translateY(TRANSLATE_Y) }

@keyframes coverInBack
  from { transform: rotateX(ROTATE_X) translateZ(TRANSLATE_Z) translateY(TRANSLATE_Y) }

@keyframes coverOutBack
  to { transform: translateY(110%) }

