@import "__init.styl"

body
  vendor(perspective, 800px)
  vendor(transform-style, preserve-3d)

  & > section
    display-box()
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    visibility: hidden
    overflow: hidden
    transform translate3d(0, 0, 0)
    vendor(backface-visibility, hidden)

    &.show
      visibility: visible
