/**
 * Stylesheet
 *
 * @namespace Lungo.Widgets
 * @class Form
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

@import "constants.styl"

form, .form

  & label:not(.select)
    display: inline-block
    line-height: FORM_HEIGHT
    text-indent: 8px

  & input, textarea, select, .progress, label.select
    margin-bottom: 8px
    font-size: FONT_SIZE_BIG
    &.large
      font-size: FONT_SIZE_LARGE

  & input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], select, textarea, label.select
    display: block
    width: 100%
    padding: 0px 6px
    height: FORM_HEIGHT
    transition all 0.15s linear
    font-family: inherit
    -webkit-appearance: none
    -webkit-user-select: text
    -webkit-font-smoothing: antialiased
    border: none
    border-radius 0px
    &:focus
      outline: none !important

  & textarea
    min-height: 64px

  & fieldset
    padding: 8px 8px 0 8px
    position: relative
    & label:not(.select)
      float: left
      width: 20%
      text-indent: 0px
      &.absolute
        position: absolute

    & label:not(.absolute) + input, label:not(.absolute) + label.select
      width: 80% !important

    & .icon
      position: absolute
      font-size: FONT_SIZE_BIG
      line-height: FORM_HEIGHT
      right: INDENT
    & input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea
      box-shadow none
      border: none
      padding: 0px
      &, &:focus
        background: none

  .indented & fieldset
    & label:not(.select)
      width: 25% !important
    & label:not(.absolute) + input, label:not(.absolute) + label.select
      width: 75% !important
    & .icon
      right: (INDENT * 2)

  & label.select
    position: relative
    display: inline-block
    font-size: inherit
    line-height: inherit
    padding-left: 0px

  & .select:after
    position: absolute
    top: 0
    right: 0
    height: FORM_HEIGHT
    width: FORM_HEIGHT
    font-size: FONT_SIZE_BIG
    content: "▼"
    pointer-events: none
    text-align: center
    line-height: FORM_HEIGHT

  & input[type=range]
    -webkit-appearance: none
    outline: none

    &:not(.checkbox)
      height: FORM_PROGRESS_HEIGHT
      width: 100%
      padding: 0px
      border: 0
      &::-webkit-slider-thumb
        top: -1px

    &.checkbox
      width: 64px
      height: FORM_HEIGHT
      line-height: FORM_HEIGHT
      padding: 0px 1px
      border-radius 2px

      &:after
        top: -(FORM_HEIGHT - 2)
        position: relative
        content: "OFF"
        float: right
        padding: 0 8px
        font-weight: 700
        font-size: 12px
        line-height: (FORM_HEIGHT - 2)

      &.active:after
        float: left
        content: "ON"

    &::-webkit-slider-thumb
        position: relative
        width: 24px
        height: 24px
        margin: 2px
        -webkit-appearance: none

    &::-webkit-slider-thumb::after
      SIZE = 6px
      width: SIZE
      height: SIZE
      display: block
      content: ""
      position: relative
      border-radius (SIZE / 2)
      z-index: 9
      top: 8.5px
      left: 8.5px

  & .progress
    width: 100%
    & .bar
      height: FORM_PROGRESS_HEIGHT
      line-height: FORM_PROGRESS_HEIGHT
      display: block
      & .value
        display: block
        height: inherit
        width: 0%
        transition(width TRANSITION_TIME DEFAULT_TRANSITION)

@media screen and (-webkit-min-device-pixel-ratio:0)
  .custom-select
    select
      padding-right:30px
