/**
 * Stylesheet
 *
 * @namespace LUNGO.Layout
 * @class Nav
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

@import "constants.less";
@import "mixins.less";

nav {
    height: auto;
    text-align: center;

    & a {
        padding: 0 6px;
        min-width: 28px;
        z-index: 1000;
        float: left;
        height:  @header_nav_height;

        & .icon {
            font-size: 1.7em;
        }

        & img {
            width: 16px;
            height: 16px;
            top: -1px !important;
        }

        & abbr {
            font-weight: bold;
        }

    }

    & .bubble {
        position: relative;
        top:  -12px;
        left: -12px;
        margin-right: -20px;
    }

    &.groupbar {
        position: absolute;
        top: @header-height;
        height: @header_groupbar_height;
        display: block;
        width: 100%;
        z-index: 2;

        line-height: @header_groupbar_height;

        & a {
            padding: 0px;
            margin: 0px;
            font-weight: bold;
            height: @header_groupbar_height;
            & .icon {
                font-size: 1.0em;
            }
        }
    }
}

header, footer {
    &:not(.toolbar) nav {
        & .icon ~ abbr { margin-left: 4px; float: right; }
        & .loading {
            margin-top: .5em;
            font-size: 1.6em;
        }
    }
}

.toolbar {
    height:  40px;

    & nav {
        margin: 2px;
        display: block;
    }

    & a {
        padding: 0;
        height:  36px;
    }

    &.with-labels {
        height: @with-labels-height;

        & a { height:  47px; }
        & .icon { padding-bottom: 12px; }
    }

    & .icon {
        display: block;
        top:  0px;
        font-size: 2.1em;
        line-height: 34px;
    }

    & .bubble {
        top:  -56px;
        left: 4px;

        & .loading {
            top: 0;
            font-size: 1.4em;
        }
    }

    & abbr {
        position: absolute;
        top: 34px;
        width: inherit;
        height: 14px;
        margin-left: 0px;
        display: block !important;

        font-size: 11px;
        line-height: 14px;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    & .loading {
        top: .1em;
        font-size: 2.3em;
    }
}
