@import "CSSmethods/vendor.styl"
// @import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700")

/* -------------------------- THEME -------------------------- */
CONTENT         = #f5f5f5
COLOR           = #333
COLOR_secondary = #95a5a6
COLOR_cancel    = #e74c3c
COLOR_success   = #2ecc71



DARK            = #222
DARK_light      = lighten(DARK, 25%)
DARK_dark       = darken(DARK, 15%)
DARK_darkest    = darken(DARK, 30%)
LIST_color      = lighten(COLOR, 5%)
LIST_color_2nd  = lighten(COLOR, 35%)
LIST_border     = lighten(COLOR, 90%)
NAV_LINK        = #888
NAV_LINK_ACTIVE = #FFF
THEME           = #0093D5
THEME_light     = lighten(THEME, 15%)
THEME_dark      = darken(THEME, 15%)


BORDER_radius   = 2px

/* -------------------------- FORM -------------------------- */
FORM_color      = darken(#e5e5e5, 5%)
// FORM_color = #dce4ec


FORM_border        = 2px
FORM_border_radius = 4px
