/**
 * Stylesheet
 *
 * @namespace Lungo.Widgets
 * @class Button
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */
.button,
button {
  display: inline-block;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  color: #fff !important;
  font-family: inherit;
  font-size: 1.1em;
  text-align: center;
  text-decoration: none;
  outline: none;
}
.button:disabled,
button:disabled,
.button.disabled,
button.disabled {
  background: rgba(255,255,255,0.2);
  color: #999 !important;
}
.button .icon,
button .icon {
  margin-right: 4px;
}
.button.anchor,
button.anchor {
  width: 100%;
  margin-bottom: 4px;
}
.button.anchor .icon,
button.anchor .icon {
  margin-left: 8px;
  float: left;
}
.button.large,
button.large {
  height: 52px;
  padding: 0 24px;
  font-size: 1.45em;
  font-weight: 300;
  line-height: 52px;
}
.button.small,
button.small {
  height: 28px;
  padding: 0 12px;
  font-size: 1em;
  line-height: 26px;
}
