/**
 * Stylesheet
 *
 * @namespace Lungo.Widgets
 * @class Button
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */
.button,
button {
  display: inline-block;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  color: #fff !important;
  font-family: inherit;
  font-size: 1.05em;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  outline: none;
}
.button:disabled,
button:disabled,
.button.disabled,
button.disabled {
  background: rgba(255,255,255,0.2);
  color: #999 !important;
}
.button .icon,
button .icon {
  font-size: 1.2em;
}
.button.anchor,
button.anchor {
  width: 100%;
  position: relative;
}
.button.anchor .icon,
button.anchor .icon {
  position: absolute;
  left: 8px;
}
.button.large,
button.large {
  height: 52px;
  padding: 0 24px;
  font-size: 1.4em;
  line-height: 52px;
}
.button.small,
button.small {
  height: 30px;
  padding: 0 8px;
  font-size: 0.9em;
  line-height: 28px;
}
