/**
 * Stylesheet
 *
 * @namespace Lungo.Layout
 * @class Nav
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */
/* DIMENSIONS */
/* COLORS */
nav {
  height: auto;
  text-align: center;
}
nav a {
  padding: 0 6px;
  min-width: 28px;
  z-index: 1000;
  float: left;
  height: 41px;
}
nav a .icon {
  font-size: 1.7em;
}
nav a img {
  width: 16px;
  height: 16px;
  top: -1px !important;
}
nav a abbr {
  font-weight: bold;
}
nav .bubble {
  position: relative;
  top: -12px;
  left: -12px;
  margin-right: -20px;
}
nav.groupbar {
  position: absolute;
  top: 42px;
  height: 30px;
  display: block;
  width: 100%;
  z-index: 2;
  line-height: 30px;
}
nav.groupbar a {
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  height: 30px;
}
nav.groupbar a .icon {
  font-size: 1.0em;
}
nav.groupbar a .bubble {
  top: -6px;
  left: 0px;
}
header:not(.toolbar) nav .icon ~ abbr,
footer:not(.toolbar) nav .icon ~ abbr {
  margin-left: 4px;
  float: right;
}
header:not(.toolbar) nav .loading,
footer:not(.toolbar) nav .loading {
  margin-top: .5em;
  font-size: 1.6em;
}
.toolbar {
  height: 40px;
}
.toolbar nav {
  margin: 2px;
  display: block;
}
.toolbar a {
  padding: 0;
  height: 36px;
}
.toolbar.with-labels {
  height: 51px;
}
.toolbar.with-labels a {
  height: 47px;
}
.toolbar.with-labels .icon {
  padding-bottom: 12px;
}
.toolbar .icon {
  display: block;
  top: 0px;
  font-size: 2.1em;
  line-height: 34px;
}
.toolbar .bubble {
  top: -56px;
  left: 4px;
}
.toolbar .bubble .loading {
  top: 0;
  font-size: 1.4em;
}
.toolbar abbr {
  position: absolute;
  top: 34px;
  width: inherit;
  height: 14px;
  margin-left: 0px;
  display: block !important;
  font-size: 11px;
  line-height: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.toolbar .loading {
  top: .1em;
  font-size: 2.3em;
}
