/**
 * Stylesheet
 *
 * @namespace Lungo
 * @class Widgets
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */
/* DIMENSIONS */
/* COLORS */
.scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-box-flex: 1;
}
.scroll.horizontal {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  /*
        & > * {
            min-width: 4096px;
            & > * { float: left; }
        }
        */

}
.scroll > * {
  -webkit-transform: translate3d(0, 0, 0);
}
:not(.icon).left {
  float: left;
}
:not(.icon).right {
  float: right;
}
.hidden {
  display: none;
}
.indented > * {
  margin: 10px;
}
.wrapper {
  padding: 8px 8px;
}
.icon.small {
  font-size: 1.3em;
}
.framed {
  border: 2px solid #fff;
}
.round {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.bubble {
  display: inline-block;
  padding: 2px 3px;
  min-width: 12px;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 13px;
  text-align: center;
}
