/**
 * Stylesheet
 *
 * @namespace Lungo.Layout
 * @class Grid
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */
.row,
.rows {
  width: 100%;
  margin: 0 auto;
  *zoom: 1;
}
.row:before,
.rows:before,
.row:after,
.rows:after {
  content: "";
  display: table;
}
.row:after,
.rows:after {
  clear: both;
}
.row.one,
.rows.one {
  height: 10%;
}
.row.two,
.rows.two {
  height: 20%;
}
.row.three,
.rows.three {
  height: 30%;
}
.row.four,
.rows.four {
  height: 40%;
}
.row.five,
.rows.five {
  height: 50%;
}
.row.six,
.rows.six {
  height: 60%;
}
.row.seven,
.rows.seven {
  height: 70%;
}
.row.eight,
.rows.eight {
  height: 80%;
}
.row.nine,
.rows.nine {
  height: 90%;
}
.row.ten,
.rows.ten {
  height: 100%;
}
.column,
.columns {
  float: left;
  position: relative;
  display: block;
  height: 100%;
}
.column.centered,
.columns.centered {
  float: none;
  margin: 0 auto;
}
.column.one,
.columns.one {
  width: 10%;
}
.column.two,
.columns.two {
  width: 20%;
}
.column.three,
.columns.three {
  width: 30%;
}
.column.four,
.columns.four {
  width: 40%;
}
.column.five,
.columns.five {
  width: 50%;
}
.column.six,
.columns.six {
  width: 60%;
}
.column.seven,
.columns.seven {
  width: 70%;
}
.column.eight,
.columns.eight {
  width: 80%;
}
.column.nine,
.columns.nine {
  width: 90%;
}
.column.ten,
.columns.ten {
  width: 100%;
}
[class*="column"] + [class*="column"]:last-child {
  float: right;
}
[class*="column"] + [class*="column"].end {
  float: left;
}
