.scroll,scroll{position:relative;display:block;width:100%;height:100%;}
section.copyright{margin-top:128px;z-index:1000;background:#000;text-align:center;font-size:24px;}
section.copyright img{max-height:128px;}
.hidden{display:none;}
.onleft{float:left;}
.onright{float:right;}
.framed{border:2px solid #fff;}
.rounded{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;}
.semi-opacity{opacity:0.5;}
.margin-top-4{margin-top:4px;}
