/**
 * Stylesheet
 *
 * @namespace Lungo.Widgets
 * @class Button
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */
:not(header) .button,
:not(header) button {
  display: inline-block;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  color: #fff !important;
  font-family: inherit;
  font-size: 1.05em;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  outline: none;
}
:not(header) .button:disabled,
:not(header) button:disabled,
:not(header) .button.disabled,
:not(header) button.disabled {
  background: rgba(255,255,255,0.2);
  color: #999 !important;
}
:not(header) .button .icon,
:not(header) button .icon {
  margin-right: 4px;
  font-size: 1.2em;
}
:not(header) .button.anchor,
:not(header) button.anchor {
  width: 100%;
  position: relative;
}
:not(header) .button.anchor .icon,
:not(header) button.anchor .icon {
  position: absolute;
  left: 8px;
}
:not(header) .button.large,
:not(header) button.large {
  height: 52px;
  padding: 0 24px;
  font-size: 1.4em;
  line-height: 52px;
}
:not(header) .button.small,
:not(header) button.small {
  height: 28px;
  padding: 0 12px;
  font-size: 0.9em;
  line-height: 26px;
}
