@import "lungo.theme.default.font.css";
/**
 * Stylesheet
 *
 * @namespace LUNGO.Theme
 * @class Default
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */
/* @group DIMENSIONS */
/* @end */
/* @group COLORS */
/* @end */.app {
  background: #000000;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
/* @group <header> & <footer> & <article> */
header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #1a2838;
  background: #2c8bca -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2c8bca), color-stop(100%, #154f93));
  box-shadow: inset 0 1px 0 #64b9e2, inset 0 -1px 0 #2566a4;
  position: absolute;
  z-index: 2;
}
footer {
  background: #353b42 -webkit-gradient(linear, left top, left bottom, color-stop(0%, #353b42), color-stop(50%, #272a2d));
  border-top: 1px inset #2A2A2A;
  color: #353b42;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.title {
  color: #ffffff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
article {
  background-color: #EBEBEB;
}
article .title {
  color: #797979;
  text-shadow: 0px 1px 0px #fff;
}
/* @end */
/* @group <nav> */
nav a {
  color: rgba(255, 255, 255, 0.5);
}
nav a.current,
nav a.active {
  color: #ffffff;
}
.toolbar a {
  color: #cdd9e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  font-weight: bold;
}
.toolbar a.current,
.toolbar a.active {
  background: #111;
  box-shadow: inset 0 1px 1px #000000, -1px 0 0 rgba(255, 255, 255, 0.05), 1px 1px 0 rgba(255, 255, 255, 0.05);
}
.groupbar {
  background: #272a2d;
  border-bottom: solid 1px #000000;
  box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.3);
}
.groupbar a {
  color: #6e6e6e;
}
.groupbar a.current {
  color: #fff;
  border-bottom: solid 3px #2566a4;
}
/* @end */
/* @group <aside> */
aside {
  background: #252525;
}
aside .title {
  background: #101010;
  border: none;
}
aside a {
  color: #fff;
  text-shadow: 0px 1px 0px #000;
  border-bottom: 1px inset #101010;
  border-top: 1px inset #868686;
}
aside a.current {
  background: #1c1c1c;
  box-shadow: inset 0px 0px 8px #101010;
  border-top: 1px inset #1c1c1c;
}
aside a .icon {
  text-shadow: none;
  color: #7a7a7a;
}
aside .anchor {
  background: #101010;
  color: #7a7a7a;
}
section.aside {
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.5);
}
section.aside.onright {
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.5);
}
@media handheld, only screen and (min-width: 768px) {
  section.current,
  section.show {
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.5);
  }
  section.current.onright,
  section.show.onright {
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.5);
  }
}
/* @end */
/* @group .list */
.list,
.list li:not(.toolbar) a {
  color: #2a2a2a;
}
.list li {
  background: #fff;
  border-bottom: 1px inset #e1e1e1;
}
.list li:last-child {
  border-bottom: none;
}
.list li.selectable:active {
  background: #93d6e7;
  color: #1b6777;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
.list li.selectable:active small,
.list li.selectable:active .onright:not(.bubble) {
  color: #ffffff;
  text-shadow: none;
}
.list li small,
.list li .onright:not(.bubble) {
  color: #888;
}
.list.indented li {
  border-left: solid 1px #e1e1e1;
  border-right: solid 1px #e1e1e1;
}
.list.indented li:first-child {
  border-top: solid 1px #e1e1e1;
}
.list.indented li:last-child {
  border-bottom: solid 1px  #e1e1e1;
}
.list .anchor {
  color: #ffffff;
  background: #2c8bca -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2c8bca), color-stop(100%, #154f93));
  border: none;
}
.list .tip {
  color: #7a7a7a;
}
.list .tip.theme {
  color: #fff;
  background: #2c8bca -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2c8bca), color-stop(100%, #154f93));
}
.list .tip.dark {
  background: #353b42 -webkit-gradient(linear, left top, left bottom, color-stop(0%, #353b42), color-stop(100%, #272a2d));
  color: #fff;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
}
.list .tip.dark a {
  color: #fff !important;
}
.list .toolbar {
  border-bottom-color: rgba(0, 0, 0, 0.2);
}
.list .toolbar .toolbar a {
  box-shadow: 1px 0px 0px #d9d9d9;
}
.list .toolbar .toolbar a:last-child {
  box-shadow: none;
}
.list .toolbar .toolbar a.current {
  background: transparent;
  color: #333;
  text-shadow: none !important;
}
/* @end */
/* @group widgets */
.splash {
  background: #07acd0;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.indented ul {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.indented li:first-child {
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.indented li:last-child {
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
/* @group .button */
.button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 rgba(0, 0, 0, 0.25), inset 0 -3px 0 rgba(255, 255, 255, 0.05), 0 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.button:active {
  -webkit-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.2), inset 0 -2px 4px rgba(0, 0, 0, 0.3);
}
.button.default {
  background: #5a5a5a;
}
.button.default:active,
.button.default.active {
  background: #4b4b4b;
}
/* @end */
/* @group <form> */
form,
.form {
  font-weight: bold;
}
form li,
.form li {
  min-height: 27px;
}
form label,
.form label {
  color: #999;
}
input,
textarea,
select {
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #858585;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
input.underline,
textarea.underline,
select.underline {
  border: none;
  box-shadow: none;
  border-bottom: 2px solid #e1e1e1;
}
input:focus,
textarea:focus,
select:focus {
  color: #64b9e2;
  border-color: #64b9e2;
}
.select:after {
  background: #858585;
  color: white;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* @group .range */
input[type="checkbox"] + span,
input[type="radio"] + span {
  color: #fff;
  background: #a0a0a0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
input[type="checkbox"] + span::before,
input[type="radio"] + span::before {
  background: #c1c1c1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
input[type="checkbox"]:checked + span,
input[type="radio"]:checked + span {
  background: #2c8bca -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2c8bca), color-stop(100%, #154f93));
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
/* @end */
/* @group range */
input[type="range"] {
  background-color: #c7c7c7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}
input[type="range"]:active {
  box-shadow: none;
  background: #2c8bca -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2c8bca), color-stop(100%, #154f93));
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0 0 4px #333;
  background: #fff;
}
input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0px 0px 4px #34b7dc;
}
/* @end */
/* @group .progress */
.progress .labels {
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: #858585;
}
.progress .bar {
  background: #c7c7c7;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.progress .bar .value {
  background: #2c8bca -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2c8bca), color-stop(100%, #154f93));
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.progress .bar .value .label {
  float: right;
  margin-right: 3px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) !important;
  font-size: 12px;
}
/* @end */
/* @end */
.bubble {
  color: #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  font-weight: bold !important;
  border: solid 1px #ffffff;
  box-shadow: 0 0 6px #000;
}
.bubble.count {
  background: #2c8bca -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2c8bca), color-stop(100%, #154f93));
}
header .bubble.count {
  background: #2c2c2d;
}
/* @end */