/**
 * Stylesheet
 *
 * @namespace Lungo.Layout
 * @class Article
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */
article {
  position: absolute;
  top: 0;
  bottom: 0;
  width: inherit;
  height: auto;
  visibility: hidden;
  display: none;
  z-index: 0;
}
.show > article.active,
.hide > article.active,
.hiding > article.active {
  visibility: visible;
  display: block;
  z-index: 1;
}
.show > article.active.pull,
.hide > article.active.pull,
.hiding > article.active.pull {
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 350ms;
  -moz-transition-duration: 350ms;
  transition-duration: 350ms;
}
header:not(.extended) ~ article {
  top: 44px;
}
header.extended ~ article {
  top: 74px;
}
footer ~ article {
  bottom: 44px;
}
@media handheld, only screen and (min-width: 768px) {
  article.aside {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
}
