/**
 * Stylesheet
 *
 * @namespace Lungo.Widgets
 * @class Splash
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */
.splash {
  text-align: center;
  font-size: 1.2em;
}
.splash > form {
  margin: 28px;
}
.splash img {
  max-width: 206px;
  margin: 20% auto 0%;
}
.splash h1 {
  margin-top: 20%;
  font-size: 2.2em;
  font-weight: bold;
}
.splash .button {
  margin-top: 10px;
}
.splash .copyright {
  position: absolute;
  width: 100%;
  bottom: 8px;
  left: 0px;
  font-size: 0.8em;
  font-style: normal;
  padding: 0px;
}
