/* DIMENSIONS */
/* COLORS */
section > [data-control="pull"] {
  position: absolute;
  z-index: -1;
  top: 44px;
  width: 100%;
  height: 80px;
  padding: 10px 0;
  color: #666;
  text-shadow: 0 1px 0 white;
  text-align: center;
}
section > [data-control="pull"] > .icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 44px;
  line-height: 48px;
  -webkit-transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -ms-transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
section > [data-control="pull"] > .loading {
  display: none;
  left: 0%;
}
section > [data-control="pull"] > strong {
  position: relative;
  top: -16px;
  margin-left: 4px;
  font-size: 1.1em;
  text-transform: lowercase;
}
section > [data-control="pull"].rotate > .icon {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
section > [data-control="pull"].refresh > .icon {
  display: none;
}
section > [data-control="pull"].refresh > .loading {
  display: inline-block;
}
