/**
 * Stylesheet
 *
 * @namespace Lungo.Layout
 * @class List
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */
.list li {
  list-style-type: none;
  padding: 9px;
  position: relative;
}
.list li,
.list li a,
.list li small,
.list li .right {
  font-weight: 300;
}
.list li.arrow::after {
  position: absolute;
  right: 8px;
  top: 40%;
  width: 6px;
  height: 6px;
  content: '';
  border-right: 3px solid #d0d0d8;
  border-top: 3px solid #d0d0d8;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.list li a {
  display: block;
}
.list li .icon,
.list li img {
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  font-size: 2.6em;
  line-height: 1em;
  text-align: center;
}
.list li.thumb img,
.list li.thumb .icon {
  margin: -9px 9px -9px -9px;
  height: 48px !important;
  width: 48px !important;
  font-size: 3.6em;
}
.list li.anchor {
  padding: 2px 10px;
}
.list li.anchor .icon.small {
  margin-right: 2px;
}
.list li.anchor .bubble {
  display: none;
}
.list li strong {
  position: relative;
  font-size: 1.15em;
  font-weight: 400;
}
.list li small {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list li small + .right {
  margin-top: -12px;
}
.list li small,
.list li.anchor,
.list li .right {
  font-size: 0.9em;
}
.list .bubble {
  padding-left: 4px;
  padding-right: 4px;
}
.list .loading .right {
  font-size: 1em;
}
.list .right .icon,
.list small .icon {
  height: 13px !important;
  width: 13px !important;
  margin-right: 1px !important;
  font-size: 1.2em !important;
  line-height: 1.1em;
}
.list.indented li {
  margin-bottom: 10px;
}
