/**
 * Stylesheet
 *
 * @namespace Lungo.Widgets
 * @class Pull
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */
.notification {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: none;
  display: none;
}
.notification.modal {
  background-color: ;
}
.notification .window {
  position: relative;
  opacity: 0;
  -webkit-transition: all  easeOutSine;
  -moz-transition: all  easeOutSine;
  -ms-transition: all  easeOutSine;
  -o-transition: all  easeOutSine;
  transition: all  easeOutSine;
}
.notification .window.show {
  opacity: 1;
}
.notification .window strong,
.notification .window small {
  display: block;
}
.notification .window small {
  font-size: 0.7em;
}
.notification .window:not(.special) {
  left: 50%;
  top: 50%;
  width: ;
}
