/**
 * Stylesheet
 *
 * @namespace Lungo.Widgets
 * @class Colour
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */
a.grey,
.grey {
  background-color: #ccc;
}
a.dark-grey,
.dark-grey {
  background-color: #000;
}
a.red,
.red {
  background-color: #e33100;
}
a.lightgreen,
.lightgreen {
  background-color: #91bd09;
}
a.green,
.green {
  background-color: #009600;
}
a.blue,
.blue {
  background-color: #237fd7;
}
a.arcticblue,
.arcticblue {
  background-color: #2daebf;
}
a.orange,
.orange {
  background-color: #ff5c00;
}
a.purple,
.purple {
  background-color: #7b658d;
}
a.magenta,
.magenta {
  background-color: #a9014b;
}
a.pink,
.pink {
  background-color: #ff007f;
}
a.yellow,
.yellow {
  background-color: #ffb515;
}
a.twitter,
.twitter:not(span) {
  background-color: #35cdff;
}
a.facebook,
.facebook:not(span) {
  background-color: #3b5998;
}
li.grey {
  -webkit-box-shadow: inset 4px 0px 0px #ccc;
  -moz-box-shadow: inset 4px 0px 0px #ccc;
  box-shadow: inset 4px 0px 0px #ccc;
}
li.dark-grey {
  -webkit-box-shadow: inset 4px 0px 0px #000;
  -moz-box-shadow: inset 4px 0px 0px #000;
  box-shadow: inset 4px 0px 0px #000;
}
li.red {
  -webkit-box-shadow: inset 4px 0px 0px #e33100;
  -moz-box-shadow: inset 4px 0px 0px #e33100;
  box-shadow: inset 4px 0px 0px #e33100;
}
li.lightgreen {
  -webkit-box-shadow: inset 4px 0px 0px #91bd09;
  -moz-box-shadow: inset 4px 0px 0px #91bd09;
  box-shadow: inset 4px 0px 0px #91bd09;
}
li.green {
  -webkit-box-shadow: inset 4px 0px 0px #009600;
  -moz-box-shadow: inset 4px 0px 0px #009600;
  box-shadow: inset 4px 0px 0px #009600;
}
li.blue {
  -webkit-box-shadow: inset 4px 0px 0px #237fd7;
  -moz-box-shadow: inset 4px 0px 0px #237fd7;
  box-shadow: inset 4px 0px 0px #237fd7;
}
li.arcticblue {
  -webkit-box-shadow: inset 4px 0px 0px #2daebf;
  -moz-box-shadow: inset 4px 0px 0px #2daebf;
  box-shadow: inset 4px 0px 0px #2daebf;
}
li.orange {
  -webkit-box-shadow: inset 4px 0px 0px #ff5c00;
  -moz-box-shadow: inset 4px 0px 0px #ff5c00;
  box-shadow: inset 4px 0px 0px #ff5c00;
}
li.purple {
  -webkit-box-shadow: inset 4px 0px 0px #7b658d;
  -moz-box-shadow: inset 4px 0px 0px #7b658d;
  box-shadow: inset 4px 0px 0px #7b658d;
}
li.magenta {
  -webkit-box-shadow: inset 4px 0px 0px #a9014b;
  -moz-box-shadow: inset 4px 0px 0px #a9014b;
  box-shadow: inset 4px 0px 0px #a9014b;
}
li.pink {
  -webkit-box-shadow: inset 4px 0px 0px #ff007f;
  -moz-box-shadow: inset 4px 0px 0px #ff007f;
  box-shadow: inset 4px 0px 0px #ff007f;
}
li.yellow {
  -webkit-box-shadow: inset 4px 0px 0px #ffb515;
  -moz-box-shadow: inset 4px 0px 0px #ffb515;
  box-shadow: inset 4px 0px 0px #ffb515;
}
li.twitter {
  -webkit-box-shadow: inset 4px 0px 0px #35cdff;
  -moz-box-shadow: inset 4px 0px 0px #35cdff;
  box-shadow: inset 4px 0px 0px #35cdff;
}
li.facebook {
  -webkit-box-shadow: inset 4px 0px 0px #3b5998;
  -moz-box-shadow: inset 4px 0px 0px #3b5998;
  box-shadow: inset 4px 0px 0px #3b5998;
}
