/**
 * Stylesheet
 *
 * @namespace Lungo.Layout
 * @class Aside
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */
section.aside:not(.small) {
  -webkit-transform: translateX(264px);
  -moz-transform: translateX(264px);
  transform: translateX(264px);
}
section.aside.small {
  -webkit-transform: translateX(64px);
  -moz-transform: translateX(64px);
  transform: translateX(64px);
}
section.aside.right {
  -webkit-transform: translateX(-ASIDE_WIDTH);
  -moz-transform: translateX(-ASIDE_WIDTH);
  transform: translateX(-ASIDE_WIDTH);
}
section.aside.right.small {
  -webkit-transform: translateX(-ASIDE_WIDTH_SMALL);
  -moz-transform: translateX(-ASIDE_WIDTH_SMALL);
  transform: translateX(-ASIDE_WIDTH_SMALL);
}
aside {
  position: absolute;
  top: 0;
  bottom: 0;
  height: inherit;
  width: 264px;
  display: none;
  z-index: -1;
}
aside.right {
  right: 0px;
}
aside.show {
  z-index: 0;
  display: block;
}
aside header,
aside footer {
  position: relative;
  left: none;
  height: 44px;
}
aside footer {
  position: absolute;
  bottom: 0;
}
aside .bubble {
  float: right;
}
aside.small {
  width: 64px;
}
aside.small nav {
  width: 64px;
  text-align: center;
}
aside.small nav a {
  display: block;
  padding: 0px;
  width: 64px;
  height: 64px;
}
aside.small nav a .icon {
  position: absolute;
  width: inherit;
  line-height: 64px;
}
aside.small nav a .bubble {
  position: relative;
  top: -54px;
  right: 6px;
}
aside.small nav a:first-child {
  margin-top: 8px;
}
