/**
 * Stylesheet
 *
 * @namespace Lungo.Layout
 * @class Nav
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */
nav.groupbar,
footer nav {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
}
nav.groupbar > a,
footer nav > a {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
header nav {
  font-weigth: 700;
}
header nav a {
  padding: 0 6px;
  min-width: 30px;
  z-index: 1000;
  float: left;
  height: 44px;
  text-align: center;
}
header nav a .icon {
  font-size: 1.7em;
}
header nav a img {
  width: 16px;
  height: 16px;
  top: -1px !important;
}
header nav a .tag {
  position: relative;
  top: -12px;
  left: -12px;
  margin-right: -20px;
}
header nav a abbr {
  font-size: 0.9em;
  font-weight: 700;
}
header nav a.button a {
  margin: 5px 5px 5px 0;
  height: 32px;
  line-height: 32px;
}
header nav a.button a .icon {
  line-height: 33px;
}
header nav a.button a:first-child {
  margin: 5px;
}
header nav a .icon ~ abbr {
  margin-left: 4px;
  float: right;
}
header nav a .loading {
  margin-top: 0.5em;
  font-size: 1.6em;
}
header nav a .loading + .icon {
  display: none;
}
nav.groupbar {
  position: absolute;
  top: 44px;
  height: 30px;
  width: 100%;
  z-index: 2;
  line-height: 30px;
}
nav.groupbar > a {
  padding: 0px;
  margin: 0px;
  height: 30px !important;
  display: block;
  text-align: center;
}
nav.groupbar > a .icon {
  font-size: 1em;
  margin-right: 2px;
}
nav.groupbar > a .tag {
  padding: 1px 3px 3px 3px;
  position: relative;
  top: -1px;
  left: 2px;
}
footer nav a {
  text-align: center;
  display: block;
  padding: 0;
  height: 44px;
}
footer nav .icon {
  font-size: 2em !important;
  line-height: 44px;
  width: 32px;
  display: inline-block;
}
footer nav .tag {
  top: -42px;
  left: 4px;
  padding: 1px 3px 3px 3px;
}
footer nav .tag .loading {
  top: 0;
  font-size: 1.4em;
}
footer nav abbr {
  display: none;
}
footer nav .tag {
  position: relative;
  top: -12px;
  left: -12px;
  margin-right: -20px;
}
footer nav.with-labels .icon {
  line-height: 36px;
}
footer nav.with-labels abbr {
  display: block !important;
  margin-top: -8px;
  z-index: 1;
  font-size: 11px;
  line-height: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
