section.aside{-webkit-transform:translate3d(256px, 0, 0);-moz-transform:translate3d(256px, 0, 0);-o-transform:translate3d(256px, 0, 0);transform:translate3d(256px, 0, 0);}section.aside.onright{-webkit-transform:translate3d(-256px, 0, 0);-moz-transform:translate3d(-256px, 0, 0);-o-transform:translate3d(-256px, 0, 0);transform:translate3d(-256px, 0, 0);}
aside{position:absolute;width:inherit;height:inherit;top:0px;visibility:hidden;z-index:0;width:256px;max-width:256px;}aside.onright{right:0px;}
aside.current{visibility:visible;}
aside .title{line-height:40px;font-size:15px;font-weight:bold;height:40px;}
aside a{display:block;width:244px;height:40px;font-size:15px;line-height:40px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
aside .bubble{float:right;font-size:11px;}
aside .title,aside a,aside .anchor{padding:0 6px;}
aside a .bubble,aside .title .bubble{margin-top:13px;}
aside .anchor .bubble{margin-top:2px;}
aside .icon{width:24px;float:left;margin:8px 4px 0 0;font-size:24px;line-height:24px;text-align:center;}
aside .anchor{font-weight:bold;line-height:19px;}
@media handheld, only screen and (min-width: 768px){[data-target="aside"]{display:none !important;} section.aside{width:auto !important;left:256px !important;right:0px !important;-webkit-transform:translate3d(0px, 0, 0);-moz-transform:translate3d(0px, 0, 0);-o-transform:translate3d(0px, 0, 0);transform:translate3d(0px, 0, 0);-webkit-transition:none;}}
