/**
 * Stylesheet
 *
 * @namespace Lungo.Theme
 * @class Default
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */
/* DIMENSIONS */
/* COLORS */
.app {
  background: #000;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.theme,
li.theme,
a.theme {
  background: #2a95d3;
}
.theme:active,
li.theme:active,
a.theme:active {
  background: #1984c2;
}
/* @group <header> & <footer> & <article> */
section > header {
  background-color: #1984c2;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 -2px 0 rgba(255,255,255,0.1), inset 0 -1px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 -2px 0 rgba(255,255,255,0.1), inset 0 -1px 0 rgba(0,0,0,0.5);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 -2px 0 rgba(255,255,255,0.1), inset 0 -1px 0 rgba(0,0,0,0.5);
}
section > header .title {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
section > header .subtitle {
  color: #fff;
  opacity: 0.7;
}
section > footer {
  background-color: #23282c;
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.8), inset 0 2px 0 rgba(255,255,255,0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.8), inset 0 2px 0 rgba(255,255,255,0.05);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.8), inset 0 2px 0 rgba(255,255,255,0.05);
}
section > nav.groupbar {
  background-color: #292f34;
}
section > article {
  background: #f4f5f5;
}
/* @end */
/* @group <nav> */
header nav a {
  color: #fff;
}
header nav.box:not(.right) a {
  -webkit-box-shadow: 1px 0 0 rgba(255,255,255,0.2), inset -1px 0 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 0 0 rgba(255,255,255,0.2), inset -1px 0 0 rgba(0,0,0,0.2);
  box-shadow: 1px 0 0 rgba(255,255,255,0.2), inset -1px 0 0 rgba(0,0,0,0.2);
}
header nav.box.right a {
  -webkit-box-shadow: -1px 0 0 rgba(255,255,255,0.2), inset 1px 0 0 rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 0 0 rgba(255,255,255,0.2), inset 1px 0 0 rgba(0,0,0,0.2);
  box-shadow: -1px 0 0 rgba(255,255,255,0.2), inset 1px 0 0 rgba(0,0,0,0.2);
}
header nav.box a:active {
  background: rgba(0, 0, 0, 0.1);
}
header nav.button a {
  background-image: -webkit-linear-gradient(top , rgba(0, 0, 0, 0) , rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top , rgba(0, 0, 0, 0) , rgba(0, 0, 0, 0.1));
  background-image: -ms-linear-gradient(top , rgba(0, 0, 0, 0) , rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(top , rgba(0, 0, 0, 0) , rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(top , rgba(0, 0, 0, 0) , rgba(0, 0, 0, 0.1));
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(0, 0, 0, 0.5);
}
header nav.button a:active {
  background: rgba(0, 0, 0, 0.2);
}
footer nav a.current {
  background: #000;
  -webkit-box-shadow: -1px 0 0 rgba(255,255,255,0.05), 1px 1px 0 rgba(255,255,255,0.05);
  -moz-box-shadow: -1px 0 0 rgba(255,255,255,0.05), 1px 1px 0 rgba(255,255,255,0.05);
  box-shadow: -1px 0 0 rgba(255,255,255,0.05), 1px 1px 0 rgba(255,255,255,0.05);
}
footer nav a,
nav.groupbar a {
  color: rgba(0, 0, 0, 0.7);
}
footer nav a.current,
nav.groupbar a.current {
  color: #fff;
}
nav.groupbar a.current {
  -webkit-box-shadow: inset 0 -3px 0 #2a95d3;
  -moz-box-shadow: inset 0 -3px 0 #2a95d3;
  box-shadow: inset 0 -3px 0 #2a95d3;
}
/* @end */
/* @group <aside> */
aside {
  color: #fff;
  background: #292f34;
}
aside header,
aside footer {
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(255,255,255,0.1);
  -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(255,255,255,0.1);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(255,255,255,0.1);
  background: #23282c;
}
aside article {
  background: none;
}
aside nav .icon {
  color: white;
}
section.aside {
  -webkit-box-shadow: -4px 0 8px rgba(0,0,0,0.5);
  -moz-box-shadow: -4px 0 8px rgba(0,0,0,0.5);
  box-shadow: -4px 0 8px rgba(0,0,0,0.5);
}
section.aside.right {
  -webkit-box-shadow: 4px 0 8px rgba(0,0,0,0.5);
  -moz-box-shadow: 4px 0 8px rgba(0,0,0,0.5);
  box-shadow: 4px 0 8px rgba(0,0,0,0.5);
}
/*
@media handheld, only screen and (min-width: 768px) {
    section.current, section.show {
        .box-shadow(~"-4px 0 8px rgba(0,0,0,0.5)");
        &.right { .box-shadow(~"4px 0 8px rgba(0,0,0,0.5)"); }
    }
}
*/
/* @end */
/* @group .list */
.list li {
  background: #fff;
  border-bottom: 1px inset #dddddd;
}
.list li:last-child {
  border-bottom: none;
}
.list li,
.list li a {
  color: #2a2a2a;
}
.list li.contrast {
  background: #292f34;
  color: #fff;
}
.list li.highlight {
  background: #dddddd;
}
.list li.anchor {
  background: #292f34;
  border-bottom: none;
}
.list li.anchor,
.list li.anchor a {
  color: #fff !important;
}
.list li.selectable:active {
  background: #39abe1;
}
.list li.selectable:active,
.list li.selectable:active a {
  color: #fff;
  text-shadow: none;
}
.list li small,
.list li .right:not(.bubble) {
  opacity: 0.8;
}
aside .list li {
  background: none;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid ;
}
aside .list li.current {
  border-top-color: #2a95d3;
  background-image: -webkit-linear-gradient(top , #39abe1 25% , #1984c2 100%);
  background-image: -moz-linear-gradient(top , #39abe1 25% , #1984c2 100%);
  background-image: -ms-linear-gradient(top , #39abe1 25% , #1984c2 100%);
  background-image: -o-linear-gradient(top , #39abe1 25% , #1984c2 100%);
  background-image: linear-gradient(top , #39abe1 25% , #1984c2 100%);
}
aside .list li strong,
aside .list li small,
aside .list li .icon {
  color: #fff;
}
aside .list li strong {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
/* @end */
/* @group widgets */
.splash {
  background: #292f34;
  color: #fff;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
}
.indented ul {
  border: 1px solid #dddddd;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.indented li:first-child {
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.indented li:last-child {
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
/* @group .button */
a.button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,0.3), inset 0 1px 0 rgba(0,0,0,0.3), inset -1px 0 0 rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.3), inset 0 2px 0 rgba(255,255,255, 0.2);
  -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,0.3), inset 0 1px 0 rgba(0,0,0,0.3), inset -1px 0 0 rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.3), inset 0 2px 0 rgba(255,255,255, 0.2);
  box-shadow: inset 1px 0 0 rgba(0,0,0,0.3), inset 0 1px 0 rgba(0,0,0,0.3), inset -1px 0 0 rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.3), inset 0 2px 0 rgba(255,255,255, 0.2);
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
a.button:active {
  -webkit-box-shadow: inset 0 10px 30px rgba(0,0,0,0.2), inset 0 -2px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 10px 30px rgba(0,0,0,0.2), inset 0 -2px 4px rgba(0,0,0,0.3);
  box-shadow: inset 0 10px 30px rgba(0,0,0,0.2), inset 0 -2px 4px rgba(0,0,0,0.3);
}
/* @end */
/* @group <form> */
label {
  color: #999;
}
input[type=text],
textarea,
select {
  border: 1px solid #ccc;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  color: #858585;
  font-family: Helvetica, Arial, sans-serif;
}
input[type=text]:focus,
textarea:focus,
select:focus {
  color: #484a49;
  border-color: #2a95d3;
  -webkit-box-shadow: 0 0 1px #39abe1;
  -moz-box-shadow: 0 0 1px #39abe1;
  box-shadow: 0 0 1px #39abe1;
}
input[type=text][disabled],
textarea[disabled],
select[disabled] {
  background: #f00;
}
.select:after {
  background: #ccc;
  color: white;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}
/* @group range */
input[type=range] {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
input[type=range]:not(.checkbox) {
  background-color: #c7c7c7;
}
input[type=range]:not(.checkbox):active {
  background-color: #39abe1;
}
input[type=range].checkbox {
  background-color: #aaaaaa;
  color: rgba(255, 255, 255, 0.6);
}
input[type=range].checkbox.active {
  background-color: #39abe1;
}
input[type=range]::-webkit-slider-thumb {
  border-radius: 1px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
  background: #fff;
}
input[type=range]::-webkit-slider-thumb::after {
  background: #eaeaea;
}
/* @end */
/* @group .progress */
.progress .labels {
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: #858585;
}
.progress .bar {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  background: #c7c7c7;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.progress .bar .value {
  background-color: #39abe1;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.progress .bar .value .label {
  float: right;
  margin-right: 3px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) !important;
  font-size: 12px;
}
/* @end */
/* @group .bubble */
.bubble {
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.bubble.count {
  background-image: -webkit-linear-gradient(top , #39abe1 0% , #1984c2 100%);
  background-image: -moz-linear-gradient(top , #39abe1 0% , #1984c2 100%);
  background-image: -ms-linear-gradient(top , #39abe1 0% , #1984c2 100%);
  background-image: -o-linear-gradient(top , #39abe1 0% , #1984c2 100%);
  background-image: linear-gradient(top , #39abe1 0% , #1984c2 100%);
}
footer .bubble {
  -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.5);
  box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.5);
}
article .list .bubble {
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,0.3), inset 0 1px 0 rgba(0,0,0,0.3), inset -1px 0 0 rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,0.3), inset 0 1px 0 rgba(0,0,0,0.3), inset -1px 0 0 rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.3);
  box-shadow: inset 1px 0 0 rgba(0,0,0,0.3), inset 0 1px 0 rgba(0,0,0,0.3), inset -1px 0 0 rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.3);
}
aside .list .bubble {
  background: rgba(0, 0, 0, 0.25);
}
/* @end */
/* @group .bubble */
.notification {
  color: #fff;
}
.notification .window.confirm {
  background: #333;
}
.notification .window.notify {
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), inset 0 -1px 0 rgba(0,0,0,0.2), 0px 1px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), inset 0 -1px 0 rgba(0,0,0,0.2), 0px 1px 2px rgba(0,0,0,0.25);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), inset 0 -1px 0 rgba(0,0,0,0.2), 0px 1px 2px rgba(0,0,0,0.25);
}
.notification .window.notify.error {
  background: #e33100;
}
.notification .window.notify.alert {
  background: #ffb515;
}
.notification .window.notify.success {
  background: #009600;
}
.notification .window.url .close {
  background: #000;
  border: solid 2px #fff;
  box-shadow: 0 0 4px black;
}
