.scrollable{display:block;}
.scroll{overflow-y:scroll;-webkit-overflow-scrolling:touch;-webkit-box-flex:1;}.scroll.horizontal{overflow-x:scroll;overflow-y:hidden !important;}.scroll.horizontal >*{min-width:4096px;}
.onleft{float:left;}
.onright{float:right;}
.hidden{display:none;}
.indented>*{padding:10px;}
.icon.small{font-size:20px !important;height:16px !important;width:16px !important;line-height:16px !important;}
.framed{border:2px solid #fff;}
.round{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;}
.bubble{padding:1px 3px 1px 3px;height:14px;font-size:10px;font-weight:bold;line-height:14px;}
