/**
 * Stylesheet
 *
 * @namespace Lungo
 * @class Base
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */
a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  font-size: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video display: inline-block *display: inline *zoom: 1,
audio:not([controls]) display: none,
[hidden] display: none,
html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: visible !important;
  font-size: 13px;
  line-height: 1.231;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  display: -webkit-box;
}
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:hover {
  opacity: 1;
}
b,
strong font-weight: bold,
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  font-size: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td,
caption {
  vertical-align: top;
  font-weight: normal;
  text-align: left;
}
