/**
 * Stylesheet
 *
 * @namespace LUNGO.Theme
 * @class Default
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */
.app {
  background: #000000;
}
/* @group <header> & <footer> & <article> */
header {
  background-color: #91bd09;
  border-top: 1px solid #b7de3f;
  border-bottom: 1px solid #758e29;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
footer {
  background: #2c2c2d -webkit-gradient(linear, left top, left bottom, color-stop(0.25, #2c2c2d), color-stop(1, #1c1c1c));
  border-top: 1px inset #1c1c1c;
}
.title {
  color: #ffffff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
article {
  background-color: #f9f9f9;
}
article .title {
  color: #797979;
  text-shadow: 0px 1px 0px #fff;
}
/* @end */
/* @group <nav> */
nav a {
  color: rgba(255, 255, 255, 0.5);
}
nav a.current, nav a:active {
  color: #ffffff;
}
.toolbar a {
  color: rgba(255, 255, 255, 0.2);
}
.toolbar a.current, .toolbar a:active {
  background: #1c1c1c;
  box-shadow: inset 0px 0px 8px #101010;
  text-shadow: 0px 1px 4px #000;
}
/* @end */
/* @group <aside> */
aside {
  background: #252525;
}
aside a {
  color: #fff;
  text-shadow: 0px 1px 0px #000;
  border-bottom: 1px inset #101010;
  border-top: 1px inset #868686;
}
aside a.current {
  background: #1c1c1c;
  box-shadow: inset 0px 0px 8px #101010;
  border-top: 1px inset #1c1c1c;
}
aside a .icon {
  text-shadow: none;
  color: #7a7a7a;
}
aside .anchor {
  background: #101010;
  color: #7a7a7a;
}
aside  ~ article {
  box-shadow: -1px 0px 4px #000000;
}
/* @end */
/* @group .list */
.list, .list li:not(.toolbar) a {
  color: #2a2a2a;
}
.list li {
  background: #fff;
  border-bottom: 1px inset #e1e1e1;
}
.list li:last-child {
  border-bottom: none;
}
.list li.selectable:active {
  background: #c1de6a;
  color: #5d7b03;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
.list li.selectable:active small, .list li.selectable:active .onright:not(.bubble) {
  color: #ffffff;
  text-shadow: none;
}
.list li small, .list li .onright:not(.bubble) {
  color: #888;
}
.list .indented ul {
  border: 1px solid #e1e1e1;
}
.list .anchor {
  background: #c1de6a;
  color: #5d7b03;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border: none;
}
.list .tip {
  color: #7a7a7a;
}
.list .tip.darker {
  background-color: #2c2c2d;
  color: #fff;
  text-shadow: 0px 1px 0px #000;
}
.list .tip.darker a {
  color: #fff !important;
}
.list .tip.dark {
  background-color: #f4f4f4;
  box-shadow: inset 0px 1px 0px #fff;
  text-shadow: 0px 1px 0px #fff;
}
.list .toolbar {
  border-bottom-color: rgba(0, 0, 0, 0.2);
}
.list .toolbar .toolbar a {
  box-shadow: 1px 0px 0px #d9d9d9;
}
.list .toolbar .toolbar a:last-child {
  box-shadow: none;
}
.list .toolbar .toolbar a.current {
  background: transparent;
  color: #333;
  text-shadow: none !important;
}
/* @end */
/* @group widgets */
.splash {
  background: #91bd09;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
/* @group .button */
a.button {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.3), inset 0 2px 0px rgba(255, 255, 255, 0.2), inset 1px 0 0 rgba(0, 0, 0, 0.2), inset -1px 0 0 rgba(0, 0, 0, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.1);
}
a.button:active {
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
}
/* @end */
/* @group <inputs> */
input, textarea, select {
  border: 1px solid #e1e1e1;
  color: #858585;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
input:focus, textarea:focus, select:focus {
  border-color: #91bd09;
  color: #91bd09;
}
label {
  color: #91bd09;
  text-transform: uppercase;
  font-weight: bold;
}
.select:after {
  background: #858585;
  color: white;
}
input[type="checkbox"] + span, input[type="radio"] + span {
  color: #fff;
  background: #a0a0a0;
}
input[type="checkbox"] + span::before, input[type="radio"] + span::before {
  background: #c1c1c1;
}
input[type="checkbox"]:checked + span, input[type="radio"]:checked + span {
  background: #758e29;
}
/* @end */
.bubble {
  color: #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: none;
  font-weight: bold !important;
}
header .bubble.count {
  background: #2c2c2d;
}
.bubble.count {
  background: #91bd09;
}
/* @end */