/* DIMENSIONS */
HEADER_FOOTER_HEIGHT = 44px
HEADER_GROUPBAR_HEIGHT = 30px

ARTICLE_BOTTOM = (HEADER_FOOTER_HEIGHT - 1)
ARTICLE_WITH_HEADER_EXTENDED = (HEADER_FOOTER_HEIGHT + HEADER_GROUPBAR_HEIGHT)

BORDER_RADIUS = 2px

ASIDE_WIDTH = 264px
ASIDE_WIDTH_SMALL = 64px

DEFAULT_TRANSITION = easeOutSine

/* COLORS */
WHITE =             #fff
BLACK =             #000
GREY =              #ccc
RED =               #e33100
LIGHTGREEN =        #91bd09
GREEN =             #009600
BLUE =              #237fd7
ARCTICBLUE =        #2daebf
ORANGE =            #ff5c00
PURPLE =            #7b658d
MAGENTA =           #a9014b
PINK =              #ff007f
YELLOW =            #ffb515
TWITTER =           #35cdff
FACEBOOK =          #3b5998
