@import "../../CSSmethods/vendor.styl"

/* -------------------------- COLOUR -------------------------- */
THEME               = #E66000 /* #FF9500 || #E66000 */
COLOR               = #4D4E53 /* #2C3E50 */
DANGER              = #8b0d0c
SUCCESS             = #00539F
WARNING             = #FF9500
DISABLED            = #acb8b9
BACKGROUND          = #EAEFF2
/* -------------------------- VARIATIONS -------------------------- */
LIST_border         = lighten(COLOR, 90%)
NAV_LINK            = lighten(COLOR, 25%)
NAV_LINK_ACTIVE     = #FFF
/* ------------------------- TRANSITION ------------------------- */
TRANSITION_time     = 400ms
TRANSITION_easing   = ease
/* ------------------------- RADIUS ------------------------- */
BORDER_radius       = 1px
/* -------------------------- FORM -------------------------- */
FORM_color          = darken(#e5e5e5, 5%)
FORM_border         = 2px
FORM_border_radius  = (BORDER_radius * FORM_border)
