/**
 * Stylesheet
 *
 * @namespace Lungo.Theme
 * @class Base
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700")

body
  background-color: #000
  color: COLOR
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: 400
  font-size: 13px
  line-height: 1.3em
  letter-spacing: -0.05em

  & .theme
    background-color: THEME-light
    &:active
      background-color: THEME
