/**
 * Stylesheet
 *
 * @namespace Lungo.Theme
 * @class Layout
 *
 * @author Javier Jimenez Villar <javi@tapquo.com> || @soyjavi
 */

/* -------------------------- NOTIFICATION -------------------------- */
.notification
  color: #fff
  &:not(.push)
    background-color: rgba(0,0,0,0.6)
  & .window
    &:not(.push)
      border-radius FORM_border_radius
    &.growl
      background: rgba(0,0,0,0.75)
      & strong
        opacity: 0.75
        font-weight: 400
    &:not(.growl)
      box-shadow(0 0 8px #444)
      & button, .button
        background: #fff
        color: THEME
    &.confirm, &.html
      background: #e6e6e6
      color: #222
    &.error
      background: DANGER
    &.success
      background: SUCCESS
    &.error, &.success
      color: #fff
      & small
        opacity: 0.75
        font-weight: 100
    &.html
      & .title
        background: THEME
        color: #fff
        border-radius FORM_border_radius FORM_border_radius 0px 0px
    &.push
      background: rgba(0,0,0,0.75)

    & button, & .button
      &:last-child
        border-radius 0px 0px FORM_border_radius FORM_border_radius
